@model DirectoryManager.Web.Models.SubmissionRequest
@inject DirectoryManager.Web.Services.Interfaces.ICacheService _cacheHelper
@using DirectoryManager.Data.Enums
@{
    ViewData["Title"] = "Create Submission";
}

<h1>@ViewData["Title"]</h1>

<a href="~/">Back to Home</a> <text> | </text> <a href="~/submission/findexisting">Edit Existing Entry</a>

<style>
  
    li p {
        margin: 0;
    }




    .right {
        text-align: right;
    }
 
    h2, h3 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
 
</style>

<p class="submission-guidelines">
    @Html.Raw(_cacheHelper.GetSnippet(SiteConfigSetting.SubmissionGuidelines))
</p>

@if (ViewData.ModelState.IsValid == false)
{
    <div class="alert alert-danger">
        <strong>There were errors with your submission</strong>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
}
<hr />

<form asp-action="Create" method="post">


    <h3>Required Information</h3>
    <div class="form-group">
        <label asp-for="SubCategoryId">Category</label>
        <select asp-for="SubCategoryId" asp-items="@(new SelectList(ViewBag.SubCategories, "Id", "DisplayName"))" required></select>
    </div>

    <div class="form-group">
        <label asp-for="SuggestedSubCategory">Suggested Category (Optional)</label>
        <input asp-for="SuggestedSubCategory" class="form-control input-width" />
        <span asp-validation-for="SuggestedSubCategory" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control input-width" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Link">Link</label>
        <input  asp-for="Link" class="form-control input-width" />
        <span asp-validation-for="Link" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description">Description</label>
        <textarea  asp-for="Description" class="form-control input-width"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <h3>Optional Information</h3>

    <div class="form-group">
        <label asp-for="Link2">@_cacheHelper.GetSnippet(SiteConfigSetting.Link2Name)</label>
        <input asp-for="Link2" class="form-control input-width" />
        <span asp-validation-for="Link2" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Link3">@_cacheHelper.GetSnippet(SiteConfigSetting.Link3Name)</label>
        <input asp-for="Link3" class="form-control input-width" />
        <span asp-validation-for="Link3" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Contact">Contact</label>
        <input asp-for="Contact" class="form-control input-width" />
        <span asp-validation-for="Contact" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Location">Location</label>
        <input asp-for="Location" class="form-control input-width" />
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Note">Note</label>
        <textarea  asp-for="Note" class="form-control input-width"></textarea>
        <span asp-validation-for="Note" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit New Listing</button>
</form>
 