@model DirectoryManager.Web.Models.SubmissionRequest
@inject DirectoryManager.Web.Services.Interfaces.ICacheService cacheHelper
@using DirectoryManager.Data.Enums
@{
    ViewData["Title"] = "Create Submission";
}

<h1>@ViewData["Title"]</h1>

<a href="~/">&lt; back to home</a><text> | </text> <a href="~/submission/findexisting">edit an existing listing</a>

@Html.Raw(cacheHelper.GetSnippet(SiteConfigSetting.SubmissionGuidelines))

@if (ViewData.ModelState.IsValid == false)
{
    <div class="alert alert-danger">
        <strong>There were errors with your submission</strong>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
}
<hr />
 
<form asp-action="Create" method="post">

    @Html.HiddenFor(x => x.SubmissionId)

    @Html.HiddenFor(x => x.DirectoryEntryId)

    <h3>Required Information</h3>

    @if (Model.DirectoryEntryId != null)
    {
        <div class="form-group">
            <label asp-for="DirectoryStatus">Directory Status</label>
            <select asp-for="DirectoryStatus" name="DirectoryStatus" class="form-control">
                @foreach (var status in Enum.GetValues(typeof(DirectoryStatus)))
                {
                    if ((DirectoryStatus)status == DirectoryStatus.Unknown)
                    {
                        continue;
                    }
                    <option value="@((int)status)">@status.ToString()</option>
                }
            </select>
        </div>
    }

    <div class="form-group">
        <label asp-for="SubCategoryId">Category</label>
        <select asp-for="SubCategoryId" asp-items="@(new SelectList(ViewBag.SubCategories, "Id", "DisplayName"))" required></select>
    </div>

    <div class="form-group">
        <label asp-for="SuggestedSubCategory">Suggested Category (Optional)</label>
        <input asp-for="SuggestedSubCategory" class="form-control input-width" />
        <span asp-validation-for="SuggestedSubCategory" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control input-width" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Link">Link</label>
        <input  asp-for="Link" class="form-control input-width" />
        <span asp-validation-for="Link" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description">Description</label>
        <textarea asp-for="Description" class="form-control input-width"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <h3>Optional Information</h3>

    <div class="form-group">
        <label asp-for="Link2">@cacheHelper.GetSnippet(SiteConfigSetting.Link2Name)</label>
        <input asp-for="Link2" class="form-control input-width" />
        <span asp-validation-for="Link2" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Link3">@cacheHelper.GetSnippet(SiteConfigSetting.Link3Name)</label>
        <input asp-for="Link3" class="form-control input-width" />
        <span asp-validation-for="Link3" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Contact">Contact</label>
        <input asp-for="Contact" class="form-control input-width" />
        <span asp-validation-for="Contact" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Location">Location</label>
        <input asp-for="Location" class="form-control input-width" />
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Note">Note</label>
        <textarea  asp-for="Note" class="form-control input-width"></textarea>
        <span asp-validation-for="Note" class="text-danger"></span>
    </div>

    <hr />

    <h3>To Reviewer</h3>
    <div class="form-group">
        <label asp-for="NoteToAdmin">Note To Admin</label>
        <textarea asp-for="NoteToAdmin" class="form-control input-width"></textarea>
        <span asp-validation-for="NoteToAdmin" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Preview</button>
</form>