 @model DirectoryManager.Data.Models.Submission
@using DirectoryManager.Data.Enums
@{
    var submissionStatuses = Enum.GetValues(typeof(SubmissionStatus)).Cast<SubmissionStatus>();
}

<h2>Edit Submission</h2>

<form asp-action="Edit" asp-route-id="@Model.Id" method="post">

    @if (Model.DirectoryEntryId  != null)
    {
        <i>Existing: </i>
        <a href="~/directoryentry/edit/@Model.DirectoryEntryId">Edit</a>
    }

    <div class="form-group">
        <label asp-for="SubCategoryId">SubCategory:</label>
        <select asp-for="SubCategoryId" asp-items="@(new SelectList(ViewBag.SubCategories, "Id", "DisplayName"))" required></select>
    </div>
 

    <div class="form-group">
        <label asp-for="SuggestedSubCategory">Suggested Category:</label>
        <input style="width:300px" asp-for="SuggestedSubCategory" class="form-control" />
        <span asp-validation-for="SuggestedSubCategory" class="text-danger"></span>
    </div>

    <!-- For SubmissionStatus Enum Dropdown -->
    <div class="form-group">
        <label asp-for="SubmissionStatus">Status</label>
        <select asp-for="SubmissionStatus" class="form-control">
            @foreach (var status in submissionStatuses)
            {
                <option value="@status">@status</option>
            }
        </select>
        <span asp-validation-for="SubmissionStatus" class="text-danger"></span>
    </div>

    <!-- Other Fields -->
    <div class="form-group">
        <label asp-for="DirectoryStatus">Directory Status:</label>
        <select asp-for="DirectoryStatus" name="DirectoryStatus" class="form-control">
            @foreach (var status in Enum.GetValues(typeof(DirectoryStatus)))
            {
                if ((DirectoryStatus)status == DirectoryStatus.Unknown)
                {
                    continue;
                }
             
                <option value="@((int)status)">@status.ToString()</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input style="width:300px" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Link">Link</label>
        <input style="width:300px" asp-for="Link" class="form-control" />
        <span asp-validation-for="Link" class="text-danger"></span>
    </div>

    
    <div class="form-group">
        <label asp-for="Description">Description:</label>
        <textarea style="width:300px" cols="100" asp-for="Description"></textarea>
    </div>

<div class="form-group">
        <label asp-for="Note">Note:</label>
        <textarea style="width:300px" cols="100" asp-for="Note"></textarea>
</div>

    <div class="form-group">
        <label asp-for="Processor">Processor</label>
        <input style="width:300px" asp-for="Processor" class="form-control" />
        <span asp-validation-for="Processor" class="text-danger"></span>
    </div>
    
<div class="form-group">
        <label asp-for="Contact">Contact</label>
        <input style="width:300px" asp-for="Contact" class="form-control" />
        <span asp-validation-for="Contact" class="text-danger"></span>
        </div>
    <div class="form-group">
        <label asp-for="Location">Location</label>
        <input style="width:300px" asp-for="Location" class="form-control" />
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>


    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>



        <br />
<a href="~/submission/delete/@Model.Id">Delete</a>