@using DirectoryManager.Data.Models
@model IEnumerable<DirectoryEntry>
@using DirectoryManager.Web.Constants;
@{
    ViewData[StringConstants.TitleHeader] = "Current Listings";
}
<h1>@ViewData[StringConstants.TitleHeader]</h1>
 
@await Html.PartialAsync("_BackToHome")<text> | </text><a href="~/submit">create new listing</a>
<hr />

<form method="get">
    <label for="combinedFilter">Select: </label>
    <select id="combinedFilter" name="subCategoryId">
        <option value="">--Category > Sub Category--</option>
        @foreach (var subCategory in (IEnumerable<SubCategory>)ViewBag.SubCategories)
        {
            <option value="@subCategory.SubCategoryId"
                    selected="@(Context.Request.Query["subCategoryId"] == subCategory.SubCategoryId.ToString() ? "selected" : null)">@subCategory.Category.Name > @subCategory.Name</option>
        }
    </select>

    <input type="submit" value="Filter" />
</form>

<br />

@foreach (var entry in Model)
{
    <div>
        <a target="_blank" href="@entry.Link">@entry.Name</a> <text> - </text>
        <a href="@Url.Action("SubmitEdit", new { id = entry.DirectoryEntryId })">Edit</a> |
        <a href="@Url.Action("Audit", new { id = entry.DirectoryEntryId })">Audit</a>
    </div>
}