@using DirectoryManager.Data.Models
@model IEnumerable<DirectoryEntry>

@{
    ViewData["Title"] = "Directory Entries";
}
<h1>@ViewData["Title"]</h1>
 
<a href="~/">&lt; back to home</a><text> | </text> <a href="~/submit">create new listing</a>
<hr />

<form method="get">
    <label for="combinedFilter">Select: </label>
    <select id="combinedFilter" name="subCategoryId">
        <option value="">--Category > Sub Category--</option>
        @foreach (var subCategory in (IEnumerable<SubCategory>)ViewBag.SubCategories)
        {
            <option value="@subCategory.Id" selected="@(Context.Request.Query["subCategoryId"] == subCategory.Id.ToString() ? "selected" : null)">@subCategory.Category.Name > @subCategory.Name</option>
        }
    </select>

    <input type="submit" value="Filter" />
</form>

<br />

@foreach (var entry in Model)
{
    <div>
        <a target="_blank" href="@entry.Link">@entry.Name</a> <text> - </text>
        <a href="@Url.Action("SubmitEdit", new { id = entry.Id })">Edit</a>
    </div>
}