@model DirectoryManager.Web.Models.SubmissionPagedList
@using DirectoryManager.Web.Constants;
@{
    ViewData[StringConstants.TitleHeader] = "Submission Requests";
}
<h1>@ViewData[StringConstants.TitleHeader]</h1>

@await Html.PartialAsync("_AdminMenu")


<div class="table-wrapper">
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Submission Status</th>
            <th>Create Date</th>
            <th>Update Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var submission in Model.Items)
        {
            <tr>
                <td>@submission.Name</td>
                <td>
                    @if (submission.SubmissionStatus != DirectoryManager.Data.Enums.SubmissionStatus.Pending)
                    {
                        <i>@submission.SubmissionStatus</i>
                    }
                    else
                    {
                        <b>@submission.SubmissionStatus</b>
                    }
                    </td>
                <td>@submission.CreateDate</td>
                <td>
                    @if (submission?.UpdateDate != null)
                    {
                        <text> -- </text>
                        @submission.UpdateDate
                    }
                </td>
                <td>
                    <a asp-action="Review" asp-controller="Submission" asp-route-id="@submission?.SubmissionId">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>

<div>
    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        if (i == Model.PageNumber)
        {
            <text>@i </text>
        }
        else
        {
            <a href="@Url.Action("Index", "Submission", new { page = i })">@i </a>
        }
    }
</div>