@model DirectoryManager.Data.Models.Submission
@inject DirectoryManager.Web.Services.Interfaces.ICacheService cacheHelper
@using DirectoryManager.Web.Constants
@using DirectoryManager.Data.Enums
@{
    var submissionStatuses = Enum.GetValues(typeof(SubmissionStatus)).Cast<SubmissionStatus>();
    ViewData[StringConstants.TitleHeader] = "Edit Submission";
    ViewData[StringConstants.MetaContent] = StringConstants.MetaTagNoIndex;
    ViewData[StringConstants.IsIndexable] = false;
}

@{
    Layout = "_CenteredLayout";
}

@section PageContent {
<h1>@ViewData[StringConstants.TitleHeader]</h1>

@await Html.PartialAsync("_AdminMenu")

<form asp-action="Review" asp-route-id="@Model.SubmissionId" method="post">

    @if (Model.DirectoryEntryId  != null)
    {
        @Html.HiddenFor(m => m.DirectoryEntryId)
        
        <p><b>Existing:</b>
        <a href="~/directoryentry/edit/@Model.DirectoryEntryId">Edit</a>
        </p>
        <p><i>Differences:</i></p>
        @Html.Raw(ViewBag.Differences)
    }
 
    <a target="_blank" href="@Model.Link">@Model.Link</a>
    <br />
    <br />
    <div class="form-group">
        <label asp-for="SubCategoryId">Subcategory</label>
        <select asp-for="SubCategoryId" asp-items="@(new SelectList(ViewBag.SubCategories, "SubcategoryId", "DisplayName"))" required></select>
    </div>
 
    <div class="form-group">
        <label asp-for="SuggestedSubCategory">Suggested Category</label>
        <input autocomplete="off" asp-for="SuggestedSubCategory" class="form-control input-width" />
        <span asp-validation-for="SuggestedSubCategory" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DirectoryStatus">Directory Status:</label>
            <select asp-for="DirectoryStatus" name="DirectoryStatus" class="form-control ">
            @foreach (var status in Enum.GetValues(typeof(DirectoryStatus)))
            {
                if ((DirectoryStatus)status == DirectoryStatus.Unknown)
                {
                    continue;
                }
             
                <option value="@((int)status)">@status.ToString()</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input autocomplete="off" asp-for="Name" class="form-control input-width" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Link">Link</label>
        <input autocomplete="off"  asp-for="Link" class="form-control input-width" />
        <span asp-validation-for="Link" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Link2">@cacheHelper.GetSnippet(SiteConfigSetting.Link2Name)</label>
        <input autocomplete="off" asp-for="Link2" class="form-control input-width" />
        <span asp-validation-for="Link2" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Link3">@cacheHelper.GetSnippet(SiteConfigSetting.Link3Name)</label>
        <input autocomplete="off" asp-for="Link3" class="form-control input-width" />
        <span asp-validation-for="Link3" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <textarea rows="5" class="input-width input-width" cols="100" asp-for="Description"></textarea>
    </div>

    <div class="form-group">
        <label asp-for="Note">Note</label>
        <textarea rows="5" class="input-width" cols="100" asp-for="Note"></textarea>
    </div>

    <div class="form-group">
        <label asp-for="Contact">Contact</label>
        <input autocomplete="off" asp-for="Contact" class="form-control input-width" />
        <span asp-validation-for="Contact" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Processor">Processor</label>
        <input autocomplete="off" asp-for="Processor" class="form-control input-width" />
        <span asp-validation-for="Processor" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Location">Location</label>
        <input autocomplete="off" asp-for="Location" class="form-control input-width" />
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CountryCode" class="control-label"></label>
        <select asp-for="CountryCode" asp-items="ViewBag.CountryCode" class="form-control"></select>
        <span asp-validation-for="CountryCode" class="text-danger"></span>
    </div>

        <div class="form-group">
            <label asp-for="PgpKey">PGP Key</label>
            <textarea class="input-width" asp-for="PgpKey"></textarea>
        </div>

        <div class="form-group">
            <label asp-for="ProofLink">Proof Link (where it shows acceptance on site)</label>
            <textarea class="input-width" asp-for="ProofLink"></textarea>
        </div>

    <div class="form-group">
        <label asp-for="Tags">Tags (comma-separated)</label>
        <input asp-for="Tags" class="form-control input-width" />
        <span asp-validation-for="Tags" class="text-danger"></span>
    </div>


    <hr />

    <h3>For Reviewer</h3>
    <div class="form-group">
        <label asp-for="NoteToAdmin">Note To Admin</label>
        <textarea rows="10" asp-for="NoteToAdmin" class="form-control input-width"></textarea>
        <span asp-validation-for="NoteToAdmin" class="text-danger"></span>
    </div>

    <span>IP Address:</span>
    <span>@Model.IpAddress</span>
    <br />
    <br />


    <!-- For SubmissionStatus Enum Dropdown -->
    <div class="form-group">
        <label asp-for="SubmissionStatus">Submission Status</label>
        <select asp-for="SubmissionStatus" class="form-control ">
            @foreach (var status in submissionStatuses)
            {
                <option value="@status">@status</option>
            }
        </select>
        <span asp-validation-for="SubmissionStatus" class="text-danger"></span>
    </div>

    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary">Update</button>
</form>

<br />
<br />
<hr />
<a href="~/submission/delete/@Model.SubmissionId">Delete</a>

        }