@model DirectoryManager.Web.Models.SubmissionRequest
@inject DirectoryManager.Web.Services.Interfaces.ICacheService _cacheHelper
@using DirectoryManager.Data.Enums
@{
    var submissionStatuses = Enum.GetValues(typeof(SubmissionStatus)).Cast<SubmissionStatus>();
}

@{
    ViewData["Title"] = "Edit Submission: " + Model.DirectoryEntryId;
}
<h1>@ViewData["Title"]</h1>
 
<a href="~/submission/findexisting">&lt; Back</a>
<hr />

@if (ViewData.ModelState.IsValid == false)
{
    <div class="alert alert-danger">
        <strong>There were errors with your submission</strong>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
}

<form asp-action="Create" method="post">

    @Html.HiddenFor(m => m.DirectoryEntryId)

    <div class="form-group">
        <label asp-for="DirectoryStatus">Directory Status</label>
        <select asp-for="DirectoryStatus" name="DirectoryStatus" class="form-control">
            @foreach (var status in Enum.GetValues(typeof(DirectoryStatus)))
            {
                if ((DirectoryStatus)status == DirectoryStatus.Unknown)
                {
                    continue;
                }
                <option value="@((int)status)">@status.ToString()</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label asp-for="SubCategoryId">Sub Category</label>
        <select asp-for="SubCategoryId" asp-items="@(new SelectList(ViewBag.SubCategories, "Id", "DisplayName"))" ></select>
    </div>

    <div class="form-group">
        <label asp-for="SuggestedSubCategory">Suggested Category</label>
        <input asp-for="SuggestedSubCategory" class="form-control input-width" />
        <span asp-validation-for="SuggestedSubCategory" class="text-danger"></span>
    </div>

    <!-- Other Fields -->

    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control input-width" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Link">Link</label>
        <input asp-for="Link" class="form-control input-width" />
        <span asp-validation-for="Link" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Link2">@_cacheHelper.GetSnippet(SiteConfigSetting.Link2Name)</label>
        <input asp-for="Link2" class="form-control input-width" />
        <span asp-validation-for="Link2" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Link3">@_cacheHelper.GetSnippet(SiteConfigSetting.Link3Name)</label>
        <input asp-for="Link3" class="form-control input-width" />
        <span asp-validation-for="Link2" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description">Description</label>
        <textarea class="input-width"  cols="100" asp-for="Description"></textarea>
    </div>

    <div class="form-group">
        <label asp-for="Note">Note</label>
        <textarea  class="input-width"  cols="100" asp-for="Note"></textarea>
    </div>

    <div class="form-group">
        <label asp-for="Contact">Contact</label>
        <input  asp-for="Contact" class="form-control input-width" />
        <span asp-validation-for="Contact" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Location">Location</label>
        <input  asp-for="Location" class="form-control input-width" />
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>

    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary">Submit Changes</button>
</form>

@if (Model.DirectoryEntryId != null)
{
    <a style="float:right;" href="~/submission/audit/@Model.DirectoryEntryId">History for @Model.Name</a>
}