@using DirectoryManager.Data.Models
@model SubCategory

@{
    ViewData["Title"] = "Edit Sub Category";
}
<h1>@ViewData["Title"]</h1>

@await Html.PartialAsync("_AdminMenu")

<hr />

<form method="post">
  
    <div class="form-group">
        <label>Parent Category</label>
        <select name="CategoryId" required>
            @foreach (var category in (IEnumerable<Category>)ViewBag.Categories)
            {
                <option value="@category.Id" selected="@(Model.Category != null && Model.Category.Id == category.Id ? "selected" : null)">@category.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Name</label>
        <input type="text" name="Name" value="@Model.Name" required />
    </div>
    <div class="form-group">
        <label>Sub Category Key</label>
        <input type="text" name="SubCategoryKey" value="@Model.SubCategoryKey" required />
    </div>
    <div class="form-group">
        <label asp-for="Note">Description</label>
        <textarea class="input-width" cols="100" asp-for="Description"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="Note">Note</label>
        <textarea class="input-width" cols="100" asp-for="Note"></textarea>
    </div>
    <button type="submit">Update</button>
</form>
