@using DirectoryManager.Data.Models
@model IEnumerable<SubCategory>

@{
    ViewData["Title"] = "Sub Categories";
}

<h1>@ViewData["Title"]</h1>
@await Html.PartialAsync("_AdminMenu")

<hr />

<form method="get">
    <label for="categoryFilter">Filter by Category: </label>
    <select id="categoryFilter" name="categoryId">
        <option value="">--Select a Category--</option>
        @foreach (var category in (IEnumerable<Category>)ViewBag.Categories)
        {
            <option value="@category.CategoryId">@category.Name</option>
        }
    </select>
    <button type="submit">Filter</button>
</form>

@foreach (var subCategory in Model)
{
    <div>@subCategory.Name - Parent Category: @subCategory.Category.Name</div>
    <a href="@Url.Action("Edit", new { id = subCategory.SubCategoryId })">Edit</a>
}
<br />

<a href="@Url.Action("Create")">Create New: Sub Category</a>