@using DirectoryManager.Data.Enums;
@using DirectoryManager.Data.Models
@inject DirectoryManager.Web.Services.Interfaces.ICacheService cacheHelper
@model DirectoryEntry
@using DirectoryManager.Web.Constants;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    var orderedSubCategories = ((IEnumerable<Subcategory>)ViewBag.SubCategories)
                                    .OrderBy(sc => sc.Category.Name)
                                    .ThenBy(sc => sc.Name)
                                    .Select(sc => new
                                    {
                                        SubCategoryId = sc.SubCategoryId,
                                        DisplayName = $"{sc.Category.Name} > {sc.Name}"
                                    });

    ViewBag.SubCategories = orderedSubCategories; // Populate ViewBag with ordered subcategories
}

@{
    ViewData[StringConstants.TitleHeader] = "Edit Directory Entry";
}
<h1>@ViewData[StringConstants.TitleHeader]</h1>

@await Html.PartialAsync("_AdminMenu")

<hr />
<a href="@Url.Action("EntryAudits", "DirectoryEntry", new { entryId = Model.DirectoryEntryId })">View History</a>

<br />
<a target="_blank" href="@Model.Link">@Model.Link</a>
<br />
<br />

<form method="post">
    <input type="hidden" value="@Model.DirectoryEntryId" name="DirectoryEntryId" />

    <!-- Use the partial view for the form -->
    @await Html.PartialAsync("_DirectoryEntryForm")

    <button type="submit">Update</button>
</form>
