@using DirectoryManager.Data.Enums;
@using DirectoryManager.Data.Models
@inject DirectoryManager.Web.Services.Interfaces.ICacheService cacheHelper
@model DirectoryEntry
@using DirectoryManager.Web.Constants;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    var orderedSubCategories = ((IEnumerable<Subcategory>)ViewBag.SubCategories)
                                    .OrderBy(sc => sc.Category.Name)
                                    .ThenBy(sc => sc.Name)
                                    .Select(sc => new
                                    {
                                        SubCategoryId = sc.SubCategoryId,
                                        DisplayName = $"{sc.Category.Name} > {sc.Name}"
                                    });
}

@{
    ViewData[StringConstants.TitleHeader] = "Edit Directory Entry";
}
<h1>@ViewData[StringConstants.TitleHeader]</h1>
 
@await Html.PartialAsync("_AdminMenu")

<hr />
<a href="@Url.Action("EntryAudits", "DirectoryEntry", new { entryId = Model.DirectoryEntryId })">View History</a>

<br />
<a target="_blank" href="@Model.Link">@Model.Link</a>
<br />
<br />

<form method="post">
    <input type="hidden" value="@Model.DirectoryEntryId" name="DirectoryEntryId" />
    <div class="form-group">
        <label asp-for="DirectoryStatus">Status</label>
        <select asp-for="DirectoryStatus" asp-items="Html.GetEnumSelectList<DirectoryStatus>()"></select>
    </div>
    <div class="form-group">
        <label asp-for="SubCategoryId">Subcategory</label>
        <select asp-for="SubCategoryId" asp-items="@(new SelectList(orderedSubCategories, "SubCategoryId", "DisplayName"))" required></select>
    </div>
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input class="input-width"  type="text" asp-for="Name" required />
    </div>
    <div class="form-group">
        <label asp-for="Link">Link</label>
        <input class="input-width"  type="text" asp-for="Link" required />
    </div>
    <div class="form-group">
        <label asp-for="LinkA">Link (affiliate)</label>
        <input class="input-width" type="text" asp-for="LinkA" required />
    </div>
    <div class="form-group">
        <label asp-for="Link2">@cacheHelper.GetSnippet(SiteConfigSetting.Link2Name)</label>
        <input class="input-width"  type="text" asp-for="Link2" />
    </div>
    <div class="form-group">
        <label asp-for="Link2A">@cacheHelper.GetSnippet(SiteConfigSetting.Link2Name)  (affiliate)</label>
        <input class="input-width" type="text" asp-for="Link2A" />
    </div>
    <div class="form-group">
        <label asp-for="Link3">@cacheHelper.GetSnippet(SiteConfigSetting.Link3Name)</label>
        <input class="input-width" type="text" asp-for="Link3" />
    </div>
    <div class="form-group">
        <label asp-for="Link3A">@cacheHelper.GetSnippet(SiteConfigSetting.Link3Name)  (affiliate)</label>
        <input class="input-width" type="text" asp-for="Link3A" />
    </div>
    <div class="form-group">
        <label asp-for="Contact">Contact</label>
        <input class="input-width"  type="text" asp-for="Contact" />
    </div>
    <div class="form-group">
        <label asp-for="Location">Location</label>
        <input class="input-width"  type="text" asp-for="Location" />
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <textarea cols="100" asp-for="Description"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="Note">Note</label>
        <textarea cols="100" asp-for="Note"></textarea>
    </div>

    <button type="submit">Update</button>
</form>
