@using DirectoryManager.Data.Enums;
@using DirectoryManager.Data.Models
@inject DirectoryManager.Web.Services.Interfaces.ICacheService cacheHelper
@model DirectoryEntry
@using DirectoryManager.Data.Models.TransferModels
@using DirectoryManager.Web.Constants;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    Layout = "_CenteredLayout";
}

@{
    ViewData[StringConstants.TitleHeader] = "Edit Directory Entry";
}

@section PageContent {
<h1>@ViewData[StringConstants.TitleHeader]</h1>

@await Html.PartialAsync("_AdminMenu")

<a href="@Url.Action("EntryAudits", "DirectoryEntry", new { entryId = Model.DirectoryEntryId })">View History</a>

<br />
<a target="_blank" href="@Model.Link">@Model.Link</a>
<br />
<br />

<form method="post">
    <input type="hidden" value="@Model.DirectoryEntryId" name="DirectoryEntryId" />

    <!-- Use the partial view for the form -->
    @await Html.PartialAsync("_DirectoryEntryForm")

    <button type="submit">Update</button>
</form>
}