@model IEnumerable<DirectoryManager.Data.Models.DirectoryEntriesAudit>
@using DirectoryManager.Web.Constants;
@{
    ViewData[StringConstants.TitleHeader] = "Directory Entry Audits";
}
<h1>@ViewData[StringConstants.TitleHeader]</h1>

@await Html.PartialAsync("_AdminMenu")

<hr />
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Link</th>
            <th>Link 2</th>
            <th>Link 3</th>
            <th>Status</th>
            <th>Description</th>
            <th>Location</th>
            <th>Note</th>
            <th>Contact</th>
            <th>Processor</th>
            <th>Subcategory</th>
            <th>Created Date</th> 
            <th>Updated Date</th> 
        </tr>
    </thead>
    <tbody>
        @foreach (var audit in Model)
        {
            <tr>
                <td>@audit.Name</td>
                <td>@audit.Link</td>
                <td>@audit.Link2</td>
                <td>@audit.Link3</td>
                <td>@audit.DirectoryStatus</td>
                <td>@audit.Description</td>
                <td>@audit.Location</td>
                <td>@audit.Note</td>
                <td>@audit.Contact</td>
                <td>@audit.Processor</td>
                <td>@audit.SubCategoryName</td>
                <td>@audit.CreateDate</td>
                <td>@audit.UpdateDate</td> 
            </tr>
        }
    </tbody>
</table>