@using DirectoryManager.Data.Models
@model IEnumerable<DirectoryEntry>

<h1>Directory Entries</h1>



<a href="~/account/home">Admin home</a>
<hr />


<form method="get">
    <label for="combinedFilter">Category > SubCategory: </label>
    <select id="combinedFilter" name="subCategoryId">
        <option value="">--Select a Category > SubCategory--</option>
        @foreach (var subCategory in (IEnumerable<SubCategory>)ViewBag.SubCategories)
        {
            <option value="@subCategory.Id">@subCategory.Category.Name > @subCategory.Name</option>
        }
    </select>

    <input type="submit" value="Filter" />
</form>

@foreach (var entry in Model)
{
    <div>
        <a href="@entry.Link">@entry.Name</a> - 
        <a href="@Url.Action("Edit", new { id = entry.Id })">Edit</a>
 
    </div>
}
 