@model IEnumerable<DirectoryManager.Data.Models.SponsoredListings.SponsoredListingOffer>
@using DirectoryManager.Web.Constants;
@{
    ViewData[StringConstants.TitleHeader] = "Sponsored Listing Offers";
}

<h1>@ViewData[StringConstants.TitleHeader]</h1>
@await Html.PartialAsync("_AdminMenu")

<hr />
<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Type</th>
            <th>Subcategory</th>
            <th>Days</th>
            <th>Price</th>
            <th>Is Enabled</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SponsorshipType</td>
                <td>
                    @if (string.IsNullOrEmpty(item.Subcategory?.Name))
                    {
                        @StringConstants.Default
                    }
                    else
                    {
                        @item.Subcategory?.Name
                    }
                </td>
                <td>@item.Days</td>
                <td>@item.Price.ToString("C") (@item.PriceCurrency.ToString())</td>
                <td>@item.IsEnabled</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SponsoredListingOfferId">Edit</a>                    
                </td>
            </tr>
        }
    </tbody>
</table>

