@model DirectoryManager.Web.Models.ActiveSponsoredListingViewModel
@using DirectoryManager.Data.Enums
@using DirectoryManager.Web.Constants;
@{
    ViewData["Title"] = "Active Sponsored Listings";
}
<h1>@ViewData["Title"]</h1>

@await Html.PartialAsync("_BackToHome")
<hr />
 
<table class="table">
    <thead>
        <tr>
            <th>Listing Name</th>
            <th>Expires At</th>
            <th></th>  <!-- For the select link -->
        </tr>
    </thead>
    <tbody>
        @foreach (var listing in Model.Items)
        {
            <tr>
                <td><a target="_blank" href="@listing.ListingUrl">@listing.ListingName</a></td>
                <td>@listing.CampaignEndDate.ToString(StringConstants.DateTimeFormat2)</td>
                <td>
                    <a href="@Url.Action("selectduration", new { directoryEntryId = listing.DirectoryListingId, sponsorshipType = SponsorshipType.MainSponsor })">Select</a>
                </td>
            </tr>
        }
    </tbody>
</table>