@model DirectoryManager.Web.Models.ActiveSponsoredListingViewModel
@using DirectoryManager.Data.Enums
@using DirectoryManager.Utilities.Helpers;
@using DirectoryManager.Web.Constants;
@{
    ViewData[StringConstants.TitleHeader] = "Active Sponsored Listings";
}
<h1>@ViewData[StringConstants.TitleHeader]</h1>

@await Html.PartialAsync("_BackToHome")
<hr />
 
<table class="table">
    <thead>
        <tr>
            <th>Listing Name</th>
            <th>Expires At</th>
            <th>Sponsorship Type</th>
            <th></th>  <!-- For the select link -->
        </tr>
    </thead>
    <tbody>
        @foreach (var listing in Model.Items)
        {
            <tr>
                <td><a target="_blank" href="@listing.ListingUrl">@listing.ListingName</a></td>
                <td>@listing.CampaignEndDate.ToString(StringConstants.DateTimeFormat2)</td>
                <td>@EnumHelper.GetDescription(listing.SponsorshipType)</td>
                <td>
                    <a href="@Url.Action("selectduration", new { directoryEntryId = listing.DirectoryListingId, sponsorshipType = listing.SponsorshipType })">Select</a>
                </td>
            </tr>
        }
    </tbody>
</table>