@using DirectoryManager.Utilities.Helpers
@using DirectoryManager.Web.Constants;
@using DirectoryManager.Web.Models;
@inject DirectoryManager.Web.Services.Interfaces.ICacheService cacheHelper
@using DirectoryManager.Data.Enums;
@model DirectoryManager.Web.Models.SponsoredListingHomeModel;

@{
    ViewData[StringConstants.TitleHeader] = "Sponsored Listings";
}
<h1>@ViewData[StringConstants.TitleHeader]</h1>

<hr />
@await Html.PartialAsync("_BackToHome")
<hr />

<h2>Sponsorship Types</h2>
<ul>
    <li>@EnumHelper.GetDescription(SponsorshipType.MainSponsor)</li>
    <li>@EnumHelper.GetDescription(SponsorshipType.CategorySponsor)</li>
    <li>@EnumHelper.GetDescription(SponsorshipType.SubcategorySponsor)</li>
</ul>

<p>See current offers and pricing: <a href="~/sponsoredlisting/offers">here</a>.</p>


<p>
    <b> Steps for listing:</b>
</p>

@Html.Raw(cacheHelper.GetSnippet(SiteConfigSetting.SponsoredListingSteps))

<hr />

<h3>@EnumHelper.GetDescription(SponsorshipType.MainSponsor)</h3>

<p><br /><b>Details:</b></p>

<p>

    @Html.Raw(cacheHelper.GetSnippet(SiteConfigSetting.MainSponsoredListingDetails))
</p>

@if (Model.CanCreateMainListing)
{
    <br />
    <p>
        <a class="btn" href="~/sponsoredlisting/selectlisting">Select Listing</a>
    </p>
    <br />
    <p><i>@(DirectoryManager.Common.Constants.IntegerConstants.MaxMainSponsoredListings - Model.CurrentListingCount) spot@((DirectoryManager.Common.Constants.IntegerConstants.MaxMainSponsoredListings - Model.CurrentListingCount) == 1 ? "" : "s") remaining</i></p>
}
else
{
    if (string.IsNullOrWhiteSpace(Model.Message))
    {
        @await Html.PartialAsync("_AdSpaceFull", new ListingInventoryModel()
        {
            CanCreateSponsoredListing = Model.CanCreateMainListing,
           NextListingExpiration = Model.NextListingExpiration
       })
;

        <p>However, you can extend the duration of an existing listing: <a href="~/sponsoredlisting/activelistings">here</a>.</p>
    }
    else
    {
        <p><i>@Model.Message</i></p>
    }

    <p>
        <a asp-controller="SponsoredListingNotification"
           asp-action="Subscribe"
           asp-route-sponsorshipType="MainSponsor">
            Notify me of openings for: @EnumHelper.GetDescription(SponsorshipType.MainSponsor)
        </a>
    </p>
}



<hr />

<!-- ─── Category sponsor section ─── -->

<h3>@EnumHelper.GetDescription(SponsorshipType.CategorySponsor)</h3>

<p><br /><b>Details:</b></p>
<p>
    @Html.Raw(cacheHelper.GetSnippet(SiteConfigSetting.CategorySponsoredListingDetails))
</p>

@if (Model.UnavailableCategories?.Any() == true)
{
    <p>Unavailable category advertising:</p>
    <ul>
        @foreach (var item in Model.UnavailableCategories)
        {
            <li>
                @item.Value -
                <a asp-controller="SponsoredListingNotification"
                   asp-action="Subscribe"
                   asp-route-sponsorshipType="CategorySponsor"
                   asp-route-typeId="@item.Key">
                    Notify me of openings
                </a>
            </li>
        }
    </ul>
    <p><a href="~/sponsoredlisting/activelistings">Extend an existing listing</a></p>
}

@if (Model.AvailableCategories?.Any() == true)
{
    <p>Available category advertising:</p>
    <ul>
        @foreach (var item in Model.AvailableCategories)
        {
            <li>
                <a asp-controller="SponsoredListing"
                   asp-action="SelectListing"
                   asp-route-sponsorshipType="CategorySponsor"
                   asp-route-categoryId="@item.Key">
                    @item.Value
                </a>
            </li>
        }
    </ul>
}
else
{
    <i>No more @EnumHelper.GetDescription(SponsorshipType.CategorySponsor) advertising space available.</i>
}


<hr />

<h3>@EnumHelper.GetDescription(SponsorshipType.SubcategorySponsor)</h3>
<p><br /><b>Details:</b></p>
<p>
    @Html.Raw(cacheHelper.GetSnippet(SiteConfigSetting.SubcategorySponsoredListingDetails))
</p>

@if (Model.UnavailableSubCatetgories?.Any() == true)
{
    <p>Unavailable subcategory advertising:</p>
    <ul>
        @foreach (var item in Model.UnavailableSubCatetgories)
        {
            <li>
                @item.Value -
                <a asp-controller="SponsoredListingNotification"
                   asp-action="Subscribe"
                   asp-route-sponsorshipType="SubcategorySponsor"
                   asp-route-typeId="@item.Key">
                    Notify me of openings
                </a>
            </li>
        }
    </ul>
    <p><a href="~/sponsoredlisting/activelistings">Extend an existing listing</a></p>
}

@if (Model.AvailableSubCatetgories?.Any() == true)
{
    <p>Available subcategory advertising:</p>
    <ul>
        @foreach (var item in Model.AvailableSubCatetgories)
        {
            <li>
                <a asp-controller="SponsoredListing"
                   asp-action="SelectListing"
                   asp-route-sponsorshipType="SubcategorySponsor"
                   asp-route-subCategoryId="@item.Key">
                    @item.Value
                </a>
            </li>
        }
    </ul>
}
else
{
    <i>No more @EnumHelper.GetDescription(SponsorshipType.SubcategorySponsor) advertising space available.</i>
}