@using DirectoryManager.Web.Constants;
@model DirectoryManager.Web.Models.PaginatedListingsViewModel
 
@{
    ViewData["Title"] = "Sponsored Listings";
}

<h1>@ViewData["Title"]</h1>

<a href="~/account/home">Admin home</a>

<hr />

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Active</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var listing in Model.Listings)
        {
            <tr>
                <td>@listing.DirectoryEntryName</td>
                <td>@listing.StartDate.ToString(StringConstants.DateTimeFormat)</td>
                <td>@listing.EndDate.ToString(StringConstants.DateTimeFormat)</td>
                <td> 
                    @if (listing.IsActive)
                    {
                        <text>&#128994;</text>
                        
                    }
                    else
                    {
                        <text>&#128308;</text>
                    }

                </td>
                <td><a href="@Url.Action("Edit", "SponsoredListing", new { id = listing.Id })">Edit</a></td>
            </tr>
        }
    </tbody>
</table>

<div>
    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        <a href="@Url.Action("List", "SponsoredListing", new { page = i })">@i</a>
    }
</div>
