@using DirectoryManager.Data.Enums
@using DirectoryManager.Web.Constants;
@using DirectoryManager.Web.Models;
@using DirectoryManager.Data.Models.SponsoredListings;
@using DirectoryManager.Utilities.Helpers;

@{
    ViewData["Title"] = "Sponsored Listing Offers";
}
<h1>@ViewData["Title"]</h1>

@await Html.PartialAsync("_BackToHome")
<hr />
 
<h2>Offers</h2>

<h3>@EnumHelper.GetDescription(SponsorshipType.MainSponsor)</h3>

<table>
    <thead>
        <tr>
            <th>Description</th>
            <th></th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var offer in this.ViewBag.MainSponsorshipOffers)
        {
            <tr>
                <td>@offer.Description</td>
                <td> - </td>
                <td>@offer.Price.ToString("C") (@offer.PriceCurrency.ToString())</td>
            </tr>
        }
    </tbody>
</table>

<hr />

<h3>@EnumHelper.GetDescription(SponsorshipType.SubCategorySponsor)</h3>
<table>
    <thead>
        <tr>
            <th>Description</th>
            <th></th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var offer in this.ViewBag.SubCategorySponsorshipOffers)
        {
            <tr>
                <td>@offer.Description</td>
                <td> - </td>
                <td>@offer.Price.ToString("C") (@offer.PriceCurrency.ToString())</td>
            </tr>
        }
    </tbody>

    <a class="btn btn-primary" href="~/sponsoredlisting">Buy Advertising</a>

</table>