@model DirectoryManager.Web.Models.SponsoredListingOffersViewModel
@using DirectoryManager.Data.Enums
@using DirectoryManager.Web.Constants
@using DirectoryManager.Utilities.Helpers
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor
@inject NowPayments.API.Interfaces.INowPaymentsService nowPaymentsService
@using DirectoryManager.Web.Helpers
@using Microsoft.Extensions.Caching.Memory
@inject IMemoryCache memoryCache


@{
    ViewData[StringConstants.TitleHeader] = "Sponsored Listing Offers";
    Layout = "_CenteredLayout";
}

@{
    var conversionResult = await CurrencyConversionHelper.GetConversionContextAsync(httpContextAccessor, memoryCache, nowPaymentsService);
    bool showConverted = conversionResult.showConverted;
    decimal conversionRate = conversionResult.conversionRate;
}


@section PageContent {

<h1>@ViewData[StringConstants.TitleHeader]</h1>

<hr />
@await Html.PartialAsync("_BackToHome")
<hr />

<h2>Offers</h2>

<p>These are the rates for advertising. The default prices are used unless there is a subcategory override.</p>
<p><a class="btn btn-primary" href="~/sponsoredlisting">Buy Advertising</a></p>

<hr />

<p>Rates as of: @DateTime.UtcNow.ToString(DirectoryManager.Common.Constants.StringConstants.DateTimeFormat)</p>
<div>
    <h3 style="text-align:center;">@EnumHelper.GetDescription(SponsorshipType.MainSponsor)</h3>
        <br />
<div class="table-wrapper">
    <table class="table">
    <thead>
        <tr>
            <th>@DirectoryManager.DisplayFormatting.Helpers.FormattingHelper.SubcategoryFormatting("Category", "Subcategory")</th>
            <th>Days</th>
            <th>Price @DirectoryManager.Data.Enums.Currency.USD.ToString()</th>
            <th>Price  @DirectoryManager.Data.Enums.Currency.XMR.ToString()</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var offer in Model.MainSponsorshipOffers)
        {
            <tr>
                <td style="text-align:center;">@offer.CategorySubcategory</td>
                <td style="text-align:center;">@offer.Days</td>
                <td style="text-align:center;">@offer.Price.ToString(DirectoryManager.Common.Constants.StringConstants.CurrentFormat)</td>
                <td style="text-align:center;">@DirectoryManager.Utilities.Helpers.CurrencyFormatter.Format(offer.Price, conversionRate, conversionResult.selectedCurrency, false)</td>
            </tr>
        }
    </tbody>
</table>
</div>

<hr />

<h3 style="text-align:center;">@EnumHelper.GetDescription(SponsorshipType.CategorySponsor)</h3>
<br />
<div class="table-wrapper">
    <table class="table">
    <thead>
        <tr>
            <th>@DirectoryManager.DisplayFormatting.Helpers.FormattingHelper.SubcategoryFormatting("Category", "Subcategory")</th>
            <th>Days</th>
                        <th>Price @DirectoryManager.Data.Enums.Currency.USD.ToString()</th>
                        <th>Price  @DirectoryManager.Data.Enums.Currency.XMR.ToString()</th>
        </tr>
    </thead>
            <tbody>
        @foreach (var offer in Model.CategorySponsorshipOffers)
        {
            <tr>
                        <td style="text-align:center;">@offer.CategorySubcategory</td>
                <td style="text-align:center;">@offer.Days</td>
                <td style="text-align:center;">@offer.Price.ToString(DirectoryManager.Common.Constants.StringConstants.CurrentFormat)</td>
                            <td style="text-align:center;">@DirectoryManager.Utilities.Helpers.CurrencyFormatter.Format(offer.Price, conversionRate, conversionResult.selectedCurrency, false)</td>

            </tr>
        }
    </tbody>
</table>
</div>

<hr />

        <h3 style="text-align:center;">@EnumHelper.GetDescription(SponsorshipType.SubcategorySponsor)</h3>
        <br />
    <div class="table-wrapper">
        <table class="table">
    <thead>
        <tr>
                        <th>@DirectoryManager.DisplayFormatting.Helpers.FormattingHelper.SubcategoryFormatting("Category", "Subcategory")</th>
            <th>Days</th>
                        <th>Price @DirectoryManager.Data.Enums.Currency.USD.ToString()</th>
                        <th>Price  @DirectoryManager.Data.Enums.Currency.XMR.ToString()</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var offer in Model.SubCategorySponsorshipOffers)
        {
            <tr>
                            <td style="text-align:center;">@offer.CategorySubcategory</td>
                <td style="text-align:center;">@offer.Days</td>
                <td style="text-align:center;">@offer.Price.ToString(DirectoryManager.Common.Constants.StringConstants.CurrentFormat)</td>
                            <td style="text-align:center;">@DirectoryManager.Utilities.Helpers.CurrencyFormatter.Format(offer.Price, conversionRate, conversionResult.selectedCurrency, false)</td>

            </tr>
        }
    </tbody>
</table>
</div>
</div>
}