@model DirectoryManager.Web.Models.SponsoredListingOffersViewModel
@using DirectoryManager.Data.Enums
@using DirectoryManager.Web.Constants
@using DirectoryManager.Utilities.Helpers

@{
    ViewData[StringConstants.TitleHeader] = "Sponsored Listing Offers";
}

<h1>@ViewData[StringConstants.TitleHeader]</h1>

@await Html.PartialAsync("_BackToHome")
<hr />

<h2>Offers</h2>

<i>Note: Default prices are used unless there is a specific price for a subcategory.</i>

<br />
<p>
    <a href="~/sponsoredlisting">Buy Advertising</a>
</p>

<hr />

<h3>@EnumHelper.GetDescription(SponsorshipType.MainSponsor)</h3>

<table>
    <thead>
        <tr>
            <th>Category > Subcategory</th>
            <th>Days</th>
            <th>Price (@DirectoryManager.Data.Enums.Currency.USD.ToString())</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var offer in Model.MainSponsorshipOffers)
        {
            <tr>
                <td>@offer.CategorySubcategory</td>
                <td>@offer.Days</td>
                <td>@offer.Price.ToString(DirectoryManager.Common.Constants.StringConstants.CurrentFormat)</td>
            </tr>
        }
    </tbody>
</table>

<hr />

<h3>@EnumHelper.GetDescription(SponsorshipType.SubcategorySponsor)</h3>
<table>
    <thead>
        <tr>
            <th>Category > Subcategory</th>
            <th>Days</th>
            <th>Price (@DirectoryManager.Data.Enums.Currency.USD.ToString())</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var offer in Model.SubCategorySponsorshipOffers)
        {
            <tr>
                <td>@offer.CategorySubcategory</td>
                <td>@offer.Days</td>
                <td>@offer.Price.ToString(DirectoryManager.Common.Constants.StringConstants.CurrentFormat)</td>
            </tr>
        }
    </tbody>
</table>

