@using DirectoryManager.Web.Constants;
@using DirectoryManager.Web.Models;
@using System.Globalization;
@using DirectoryManager.Data.Enums
@model IEnumerable<SponsoredListingOfferModel>
@inject DirectoryManager.Web.Services.Interfaces.ICacheService _cacheHelper
@using DirectoryManager.Utilities.Helpers
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor
@inject NowPayments.API.Interfaces.INowPaymentsService nowPaymentsService
@using DirectoryManager.Web.Helpers
@using Microsoft.Extensions.Caching.Memory
@inject IMemoryCache memoryCache

@{
    Layout = "_CenteredLayout";
    ViewData[StringConstants.TitleHeader] = "Select Listing Duration";
    var offersList = Model.ToList();
    int defaultChoiceIndex = 0;
    ViewData[StringConstants.IsIndexable] = false;
}

@{
    var conversionResult = await CurrencyConversionHelper.GetConversionContextAsync(httpContextAccessor, memoryCache, nowPaymentsService);
    bool showConverted = conversionResult.showConverted;
    decimal conversionRate = conversionResult.conversionRate;
}
 
@section PageContent {
<h1>@ViewData[StringConstants.TitleHeader]</h1>

<hr />

<a href="~/sponsoredlisting/selectlisting?sponsorshipType=@ViewBag.SponsorshipType&subCategoryId=@ViewBag.SubCategoryId&categoryId=@ViewBag.CategoryId">&lt; back</a>
<hr />

<p><b>Name:</b> @this.ViewBag.DirectoryEntrName</p>
<p><b>Sponsorship Type:</b> @DirectoryManager.Utilities.Helpers.EnumHelper.GetDescription(ViewBag.SponsorshipType)</p>

@if (ViewBag.SponsorshipType == DirectoryManager.Data.Enums.SponsorshipType.SubcategorySponsor)
{
    <p><b>Subcategory:</b> @this.ViewBag.Subcategory</p>
}
else if (ViewBag.SponsorshipType == DirectoryManager.Data.Enums.SponsorshipType.CategorySponsor)
{
    <p><b>Category:</b> @this.ViewBag.Category</p>
}

<br />

<form method="post" action="~/sponsoredlisting/selectduration">
    <input name="directoryEntryId" type="hidden" value="@ViewBag.DirectoryEntryId" />
    <div class="form-group">
        <label>Available Options:</label>
        @for (var i = 0; i < offersList.Count; i++)
        {
            var offer = offersList[i];
            <div class="form-check">
                <label class="form-check-label" style="display: flex; align-items: center;">
                    <input class="form-check-input" type="radio" name="SelectedOfferId" value="@offer.SponsoredListingOfferId" @(i == defaultChoiceIndex ? "checked" : string.Empty)>
                    @offer.Days-Days - @offer.USDPrice.ToString(DirectoryManager.Common.Constants.StringConstants.CurrentFormat,
                        new CultureInfo(DirectoryManager.Common.Constants.StringConstants.DefaultCulure)) @Currency.USD.ToString() 
                <span>&nbsp;&#8212;&nbsp;@DirectoryManager.Utilities.Helpers.CurrencyFormatter.Format(offer.USDPrice, conversionRate, conversionResult.selectedCurrency, true)</span>
                </label>
            </div>
        }
    </div>
    @if (offersList.Count > 0)
    {
        <button type="submit" class="btn btn-primary">Select</button>
    }
    else
    {
        <p><i>No options</i></p>
    }
</form>
 
}
