@using DirectoryManager.Web.Constants;
@using DirectoryManager.Web.Models;
@using System.Globalization;
@using DirectoryManager.Data.Enums
@model IEnumerable<SponsoredListingOfferModel>
@inject DirectoryManager.Web.Services.Interfaces.ICacheService _cacheHelper

@{
    ViewData["Title"] = "Select Listing Duration";
    var offersList = Model.ToList();
    int defaultChoiceIndex = 0;
}

<h1>@ViewData["Title"]</h1>

<a href="~/sponsoredlisting/selectlisting">&lt; back to listing selection</a>

<hr />

<p><i>@Html.Raw(_cacheHelper.GetSnippet(SiteConfigSetting.PaymentCurrencyMessage))</i></p>

<form method="post" action="~/sponsoredlisting/selectduration">
    <input name="directoryEntryId" type="hidden" value="@ViewBag.DirectoryEntryId" />
    <input name="rsvId" type="hidden" value="@ViewBag.ReservationGuid" />
    <div class="form-group">
        <label>Options for @DirectoryManager.Utilities.Helpers.EnumHelper.GetDescription(this.ViewBag.SponsorshipType):</label>
        @for (var i = 0; i < offersList.Count; i++)
        {
            var offer = offersList[i];
            <div class="form-check">
                <label class="form-check-label" style="display: flex; align-items: center;">
                    <input class="form-check-input" type="radio" name="SelectedOfferId" value="@offer.SponsoredListingOfferId" @(i == defaultChoiceIndex ? "checked" : string.Empty)>
                    @offer.Description - @offer.USDPrice.ToString("C", new CultureInfo(StringConstants.DefaultCulure)) @Currency.USD.ToString()
                </label>
            </div>
        }
    </div>
    <button type="submit" class="btn btn-primary">Select</button>
</form>