@using DirectoryManager.Data.Models
@model IEnumerable<DirectoryEntry>

@{
    ViewData["Title"] = "Select Sponsored Listing";
}
<h1>@ViewData["Title"]</h1>

<a href="~/sponsoredlisting">&lt; back</a>
<hr />
<p>
<i>Note: removed and scam listings cannot be sponsored listings</i>
</p>
<form method="get">
    <input name="rsvId" type="hidden" value="@ViewBag.ReservationGuid" />
    <label for="combinedFilter">Select: </label>
    <select id="combinedFilter" name="subCategoryId">
        <option value="">--Category > Sub Category--</option>
        @foreach (var subCategory in (IEnumerable<SubCategory>)ViewBag.SubCategories)
        {
            <option value="@subCategory.Id" selected="@(Context.Request.Query["subCategoryId"] == subCategory.Id.ToString() ? "selected" : null)">@subCategory.Category.Name > @subCategory.Name</option>
        }
    </select>

    <input type="submit" value="Filter" />
</form>

<br />

@foreach (var entry in Model)
{
    <div>
        <a target="_blank" href="@entry.Link">@entry.Name</a> <text> - </text>
        <a href="@Url.Action("selectduration", new { id = entry.Id, rsvId = ViewBag.ReservationGuid })">Select</a>
    </div>
}