@using DirectoryManager.Web.Constants
@model DirectoryManager.Web.Models.SponsoredListing.SelectProcessorViewModel
@{
    ViewData[StringConstants.TitleHeader] = "Select Payment Processor";
    Layout = "_CenteredLayout";
}

@section PageContent {
    <h1>@ViewData[StringConstants.TitleHeader]</h1>
    <hr />

    <h2>Your Order</h2>
    <br />
    <table>
        <tr>
            <td><b>Listing:</b></td>
            <td>@Model.ListingName</td>
        </tr>
        <tr>
            <td><b>Description:</b></td>
            <td>@Model.OfferDescription</td>
        </tr>
        <tr>
            <td><b>Days:</b></td>
            <td>@Model.OfferDays</td>
        </tr>
        <tr>
            <td><b>Price:</b></td>
            <td>@Model.OfferPrice.ToString("C", new System.Globalization.CultureInfo("en-US")) USD</td>
        </tr>
    </table>

    <hr />
    <h2>Choose Payment Processor</h2>
    <p>Both options accept XMR. Select how you would like to pay.</p>

    <form method="post" action="~/sponsoredlisting/selectprocessor">
        <input type="hidden" name="DirectoryEntryId" value="@Model.DirectoryEntryId" />
        <input type="hidden" name="SelectedOfferId" value="@Model.SelectedOfferId" />
        <input type="hidden" name="ReservationGuid" value="@Model.ReservationGuid" />

        <table>
            <tr>
                <td style="padding: 10px 20px 10px 0;">
                    <button class="btn btn-cta"
                            type="submit"
                            name="SelectedProcessor"
                            value="NOWPayments">
                        NOWPayments
                    </button>
                </td>
                <td>Hosted checkout, multiple networks</td>
            </tr>
            <tr>
                <td style="padding: 10px 20px 10px 0;">
                    <button class="btn btn-cta"
                            type="submit"
                            name="SelectedProcessor"
                            value="BTCPayServer">
                        BTCPay Server
                    </button>
                </td>
                <td>Self-hosted, XMR direct</td>
            </tr>
        </table>
    </form>
}
