@using System.Globalization;
@using DirectoryManager.Web.Constants;
@model IEnumerable<DirectoryManager.Data.Models.GroupedDirectoryEntry>

@{
    ViewData["Title"] = "Newest Additions";
}
<h1>@ViewData["Title"]</h1>
 
<a href="~/account/home">Admin home</a>
<hr />

<ul>
    @foreach (var group in Model.GroupBy(g => g.Date))
    {
        <li>
            <pre>@DateTime.ParseExact(group.Key, StringConstants.DateFormat, CultureInfo.InvariantCulture).ToString(StringConstants.DateFormat) Additions:</pre>
            <ul>
                @foreach (var entry in group.SelectMany(g => g.Entries))
                {
                    <li><pre>+ @entry.Name - @entry.Link @if (!string.IsNullOrWhiteSpace(entry.Description)){<text>- </text> @entry.Description }</pre>
                    </li>
                }
            </ul>
        </li>
    }
</ul>
