@using System.Globalization;
@model IEnumerable<DirectoryManager.Data.Models.GroupedDirectoryEntry>

<h1>Newest Additions</h1>
<a href="~/account/home">Admin home</a>
<ul>
    @foreach (var group in Model.GroupBy(g => g.Date))
    {
        <li>
            <strong>@DateTime.ParseExact(group.Key, "yyyy-MM-dd", CultureInfo.InvariantCulture).ToString("yyyy-MM-dd") Additions:</strong>
            <br />
            <ul>
                @foreach (var entry in group.SelectMany(g => g.Entries))
                {
                    <li><pre>+ @entry.Name - <a href="@entry.Link" target="_blank">@entry.Link</a>@if (!string.IsNullOrWhiteSpace(entry.Description)){<text> - </text> @entry.Description }</pre>
                    </li>
                }
            </ul>
        </li>
    }
</ul>
