@using DirectoryManager.Web.Constants
@model DirectoryManager.Web.Models.Emails.PagedEmailCampaignModel

@{
    ViewData[StringConstants.TitleHeader] = "Email Campaigns";
}

<h1>@ViewData[StringConstants.TitleHeader]</h1>

@await Html.PartialAsync("_AdminMenu")

<a href="~/account/EmailCampaignManagement/create">Create</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Campaign Name</th>
            <th>Interval (Days)</th>
            <th>Start Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var campaign in Model.Campaigns)
        {
            <tr>
                <td>@campaign.Name</td>
                <td>@campaign.IntervalDays</td>
                <td>@campaign.StartDate?.ToString(DirectoryManager.Common.Constants.StringConstants.DateFormat)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@campaign.EmailCampaignId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@campaign.EmailCampaignId">Delete</a> |
                    <a asp-controller="EmailCampaignSubscription"
                       asp-action="Index"
                       asp-route-campaignId="@campaign.EmailCampaignId">View Subscriptions</a> <!-- New Link -->
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pagination">
    @if (Model.PageIndex > 1)
    {
        <a asp-action="Index" asp-route-page="@(Model.PageIndex - 1)">Previous</a>
    }

    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        <a asp-action="Index" asp-route-page="@i">@i</a>
    }

    @if (Model.PageIndex < Model.TotalPages)
    {
        <a asp-action="Index" asp-route-page="@(Model.PageIndex + 1)">Next</a>
    }
</div>