@model DirectoryManager.Data.Models.SponsoredListings.SponsoredListingOpeningNotification

@using DirectoryManager.Utilities.Helpers
@using DirectoryManager.Web.Constants;
@{
    ViewData[StringConstants.TitleHeader] = "Get Notified For Next Sponsored Listing Opening";
}
@{
    Layout = "_CenteredLayout";
}
@section PageContent {

<h1>@ViewData[StringConstants.TitleHeader]</h1>

<hr />
@await Html.PartialAsync("_BackToHome")
<hr />
 
@if (TempData[DirectoryManager.Web.Constants.StringConstants.ErrorMessage] != null)
{
    <p class="alert alert-danger">@TempData[DirectoryManager.Web.Constants.StringConstants.ErrorMessage]</p>
}

@if (!string.IsNullOrWhiteSpace(Model.SponsorshipType.ToString()))
{
    <p>You are subscribing for notifications about: <strong>@EnumHelper.GetDescription(Model.SponsorshipType)</strong></p>
}

@if (Model.TypeId.HasValue)
{
    <p>@TempData[DirectoryManager.Web.Constants.StringConstants.SubcategoryName]</p>
}

@if (TempData[DirectoryManager.Web.Constants.StringConstants.SuccessMessage] == null)
{
<form asp-action="Subscribe" method="post">
    <input type="hidden" asp-for="SponsorshipType" />
    <input type="hidden" asp-for="TypeId" />

    <div class="form-group">
        <label asp-for="Email">Email Address:</label>
        <input asp-for="Email" class="form-control" style="width:18%;" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Subscribe</button>
</form>
}


@if (TempData[DirectoryManager.Web.Constants.StringConstants.SuccessMessage] != null)
{
    <p>
        &#9989; @TempData[DirectoryManager.Web.Constants.StringConstants.SuccessMessage]
    </p>
}
}