@model DirectoryManager.Web.Models.EmailSubscribeEditListModel
@using DirectoryManager.Web.Constants;
@{
    ViewData[StringConstants.TitleHeader] = "Emails";
}
 <h1>@ViewData[StringConstants.TitleHeader]</h1>

<hr />
@await Html.PartialAsync("_AdminMenu")

<hr />

@if (Model != null && Model.Items.Count() > 0)
{
        <b>Subscribers:</b>
        <p>@Model.Emails</p>

        <br />
        <b>Unsubscribe:</b>
        <span>@Model.UnsubscribeLink</span>

        <table class="table">
            <thead>
                <tr>
                    <th>Email</th>

                    <th>Is Subscribed</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>
                            @item.Email
                        </td>
                        <td>@item.IsSubscribed</td>
                        <td>
                            <a href="~/account/emailsubscriptionmanagement/edit?EmailSubscriptionId=@item.EmailSubscriptionId">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <p><b>Total Subscribed:</b> @Model.TotalSubscribed</p>
}
else
{
        <i>No emails</i>
}
