@using DirectoryManager.Data.Models
@using DirectoryManager.DisplayFormatting.Enums
@using DirectoryManager.Web.Constants
@using DirectoryManager.Data.Enums
@using DirectoryManager.Web.Models
@model DirectoryManager.Data.Models.Category

@inject DirectoryManager.Data.Repositories.Interfaces.ICategoryRepository categoryRepository
@inject DirectoryManager.Data.Repositories.Interfaces.ISubcategoryRepository subCategoryRepository
@inject DirectoryManager.Data.Repositories.Interfaces.IDirectoryEntryRepository directoryEntryRepository
@inject DirectoryManager.Data.Repositories.Interfaces.IDirectoryEntrySelectionRepository directoryEntrySelectionRepository
@inject DirectoryManager.Data.Repositories.Interfaces.ISponsoredListingRepository sponsoredListingRepository
@inject DirectoryManager.Web.Services.Interfaces.ICacheService cacheHelper
@inject DirectoryManager.Data.Repositories.Interfaces.ICategoryRepository categoryRepo
@inject DirectoryManager.Data.Repositories.Interfaces.ISubcategoryRepository subCatRepo

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData[StringConstants.TitleHeader] = Html.Raw(cacheHelper.GetSnippet(SiteConfigSetting.HomePageTitle));
    ViewData[StringConstants.MetaContent] = Html.Raw(cacheHelper.GetSnippet(SiteConfigSetting.HomePageMetaTags));
}
@{
    // build nav VM
    var cats = await categoryRepo.GetActiveCategoriesAsync();
    var lookup = new Dictionary<int, List<Subcategory>>();
    foreach (var c in cats)
        lookup[c.CategoryId] = (await subCatRepo.GetActiveSubCategoriesAsync(c.CategoryId)).ToList();

    var navModel = new NavigationViewModel
    {
        Categories = cats,
        SubsByCategory = lookup,
        CurrentCategoryKey =  null,
        CurrentSubCategoryKey = null
    };
}

@{
    Layout = "_LayoutWithNav";
    ViewData["NavModel"] = navModel;
   
}

 @section PageContent {

    <div class="content-wrapper">
 
        <!-- Hero and sponsored listing partial (stays full‐width under the fixed sidebar) -->
        @Html.Raw(cacheHelper.GetSnippet(SiteConfigSetting.HomePageDisplayHtml))
        @await Html.PartialAsync("_SponsoredListingPartial")
        <hr />

        <!-- everything from here down is centered under the hero -->
        <p class="intro">
            @Html.Raw(cacheHelper.GetSnippet(SiteConfigSetting.TextIntro))
        </p>
        <hr />

        <div class="top-container">
            <!-- Update Section -->
            <div class="top-section update-section">
                <p class="centered-text">
                    <strong>Last Update:</strong>
                    @directoryEntryRepository.GetLastRevisionDate().ToString(DirectoryManager.Common.Constants.StringConstants.DateTimeFormat)
                </p>
            </div>

            <!-- Search Section -->
            <div class="top-section search-section">
                @await Html.PartialAsync("_SearchForm")
            </div>

            <!-- Links Section -->
            <div class="top-section links-section">
                @Html.Raw(cacheHelper.GetSnippet(SiteConfigSetting.TopMenuActionsHtml))
            </div>
        </div>
        <hr />

        @Html.Raw(cacheHelper.GetSnippet(SiteConfigSetting.DirectoryLegendHtml))

        @* Featured *@
        @{
            var featuredEntries = await directoryEntrySelectionRepository
            .GetEntriesForSelection(EntrySelectionType.Featured);
            var link2Name = cacheHelper.GetSnippet(SiteConfigSetting.Link2Name);
            var link3Name = cacheHelper.GetSnippet(SiteConfigSetting.Link3Name);
        }
        @if (featuredEntries?.Any() == true)
        {
            <hr />
            <p><b>Featured</b></p>
            <ul class="blank_list_item">
                @{
                    var vmList = DirectoryManager.DisplayFormatting.Helpers.ViewModelConverter
                    .ConvertToViewModels(
                    featuredEntries.ToList(),
                    DateDisplayOption.NotDisplayed,
                    ItemDisplayType.Featured,
                    link2Name, link3Name);
                }
                @foreach (var vm in vmList)
                {
                    @await Html.PartialAsync("_DirectoryEntryPartial", vm)
                }
            </ul>
        }

        @* Newest Additions *@
        @{
            var newest = await directoryEntryRepository.GetNewestAdditions(10);
        }
        @if (newest?.Any() == true)
        {
            <hr />
            <p><b>Newest Additions</b></p>
            <i>
                See:
                <a href="~/newest">all new additions</a>
                or
                <a class="no-app-link" href="~/rss/feed.xml">RSS</a>
            </i>
            <ul class="blank_list_item">
                @{
                    var vmList = DirectoryManager.DisplayFormatting.Helpers.ViewModelConverter
                    .ConvertToViewModels(
                    newest.ToList(),
                    DateDisplayOption.DisplayCreateDate,
                    ItemDisplayType.Featured,
                    link2Name, link3Name);
                }
                @foreach (var vm in vmList)
                {
                    vm.LinkType = LinkType.Direct;
                    @await Html.PartialAsync("_DirectoryEntryPartial", vm)
                }
            </ul>
            <hr />
        }

        @* Newest Revisions *@
        @{
            var revisions = await directoryEntryRepository.GetNewestRevisions(6);
            if (newest != null)
            {
                revisions = revisions.Except(newest).Take(6).ToList();
            }
        }
        @if (revisions?.Any() == true)
        {
            <p><b>Newest Revisions</b></p>
            <ul class="blank_list_item">
                @{
                    var vmList = DirectoryManager.DisplayFormatting.Helpers.ViewModelConverter
                    .ConvertToViewModels(
                    revisions.ToList(),
                    DateDisplayOption.DisplayUpdateDate,
                    ItemDisplayType.NewestRevions,
                    link2Name, link3Name);
                }
                @foreach (var vm in vmList)
                {
                    vm.LinkType = LinkType.Direct;
                    @await Html.PartialAsync("_DirectoryEntryPartial", vm)
                }
            </ul>
            <hr />
        }

    </div>
 }