@using System.Globalization;
@using DirectoryManager.Web.Constants;
@using DirectoryManager.Web.Helpers
@model IEnumerable<DirectoryManager.Data.Models.GroupedDirectoryEntry>
@{
    ViewData[StringConstants.TitleHeader] = "Newest Additions";
}
<h1>@ViewData[StringConstants.TitleHeader]</h1>

<hr />
@await Html.PartialAsync("_BackToHome")
<hr />

@await Html.PartialAsync("_SponsoredListingPartial")
<hr />

@{
    var htmlOutput = DisplayMarkUpHelper.GenerateGroupedDirectoryEntryHtml(Model);
}

@Html.Raw(htmlOutput)
 
<div>
    @for (int i = 1; i <= ViewBag.TotalPages; i++)
    {
        if (i == 1 && i != ViewBag.PageNumber)
        {
            <a class="no-app-link text-margin" href="@Url.Action("Newest", "Home", new { pageNumber = i })">@i </a>
            continue;
        }

        if (i == ViewBag.PageNumber)
        {
            <text>@i </text>
        }
        else
        {
            <a class="app-link text-margin" href="@Url.Action("Newest", "Home", new { pageNumber = i })">@i </a>
        }
    }
</div>

<p>Total: @ViewBag.TotalEntries</p>