@using System.Globalization;
@model IEnumerable<DirectoryManager.Data.Models.GroupedDirectoryEntry>
@{
    ViewData["Title"] = "Newest Additions";
}
<h1>@ViewData["Title"]</h1>
<a href="~/">Back to home</a>
<hr />

@await Html.PartialAsync("_SponsoredListingPartial")
<hr />

<ul>
    @foreach (var group in Model)
    {
        <li>
            <pre>@DateTime.ParseExact(group.Date, "yyyy-MM-dd", CultureInfo.InvariantCulture).ToString("yyyy-MM-dd") Additions:</pre>
            <ul>
                @foreach (var entry in group.Entries)
                {
                    <li>
                        <p style="display:inline;" class="small-font">@entry.Name </p> - <a target="_blank" class="multi-line-text small-font" href="@entry.Link">@entry.Link</a>  @if (!string.IsNullOrWhiteSpace(entry.Description))
                            {
                            <text> - </text> <p style="display:inline;"  class="small-font">@Html.Raw(entry.Description)</p>
                            }

                    </li>
                }
            </ul>
        </li>
    }
</ul>

<div>
    @for (int i = 1; i <= ViewBag.TotalPages; i++)
    {
        if (i == ViewBag.PageNumber)
        {
            <text>@i </text>
        }
        else
        {
            <a style="margin: 5px;" href="@Url.Action("Newest", "Home", new { pageNumber = i })">@i </a>
        }
    }
</div>

<p>Total: @ViewBag.TotalEntries</p>