@using System.Globalization;
@using DirectoryManager.Web.Constants;
@model IEnumerable<DirectoryManager.Data.Models.GroupedDirectoryEntry>
@{
    ViewData[StringConstants.TitleHeader] = "Newest Additions";
}
<h1>@ViewData[StringConstants.TitleHeader]</h1>

@await Html.PartialAsync("_BackToHome")
<hr />

@await Html.PartialAsync("_SponsoredListingPartial")
<hr />

<ul class="newest_items">
    @foreach (var group in Model)
    {
        <li>
            <pre>@DateTime.ParseExact(group.Date, DirectoryManager.Common.Constants.StringConstants.DateFormat,
                                      CultureInfo.InvariantCulture).ToString(DirectoryManager.Common.Constants.StringConstants.DateFormat) Additions:</pre>
            <ul>
                @foreach (var entry in group.Entries)
                {
                    <li>
                        <p style="display:inline;" class="small-font">
                            @if (entry.DirectoryStatus == DirectoryManager.Data.Enums.DirectoryStatus.Scam)
                            {
                                @Html.Raw(DirectoryManager.Data.Enums.DirectoryStatus.Scam.ToString()) <text>! - </text>
                            }
                            @entry.Name
                        </p>
                        -
                        <a target="_blank" class="multi-line-text small-font" href="@entry.Link">@entry.Link</a>
                        @if (!string.IsNullOrWhiteSpace(entry.Description))
                        {
                            <text> - </text>
                            <p style="display:inline;" class="small-font">@Html.Raw(entry.Description)</p>
                        }
                    </li>
                }
            </ul>
        </li>
    }
</ul>


<div>
    @for (int i = 1; i <= ViewBag.TotalPages; i++)
    {
        if (i == 1 && i != ViewBag.PageNumber)
        {
            <a class="no-app-link" style="margin: 5px;" href="@Url.Action("Newest", "Home", new { pageNumber = i })">@i </a>
            continue;
        }

        if (i == ViewBag.PageNumber)
        {
            <text>@i </text>
        }
        else
        {
            <a class="app-link" style="margin: 5px;" href="@Url.Action("Newest", "Home", new { pageNumber = i })">@i </a>
        }
    }
</div>

<p>Total: @ViewBag.TotalEntries</p>