@model DirectoryManager.Data.Models.SponsoredListings.SponsoredListingInvoice
@using DirectoryManager.DisplayFormatting.Models
@using DirectoryManager.Utilities.Helpers
@using DirectoryManager.Web.Constants;
@using DirectoryManager.Web.Models

@{
    ViewData[StringConstants.TitleHeader] = "Invoice Details";
}

<h1>@ViewData[StringConstants.TitleHeader]</h1>

@await Html.PartialAsync("_AdminMenu")

<div>
    <h4>Invoice Details</h4>
    <hr />
    <dl class="row">

        <dt>Sponsored Listing Invoice ID</dt>
        <dd>@Model.SponsoredListingInvoiceId</dd>

        <dt>Invoice ID</dt>
        <dd>@Model.InvoiceId</dd>

        <dt>Invoice Description</dt>
        <dd>@Model.InvoiceDescription</dd>

        <dt>Sponsorship Type</dt>
        <dd>@Model.SponsorshipType</dd>

        @if (ViewBag.SubCategory != null)
        {
            <dt>Subcategory</dt>
            <dd>@ViewBag.SubCategory.Category.Name > @ViewBag.SubCategory.Name</dd>
        }

        <dt>Amount</dt>
        <dd>@Model.Amount</dd>

        <dt>Currency</dt>
        <dd>@Model.Currency</dd>

        <dt>Paid Amount</dt>
        <dd>@Model.PaidAmount</dd>

        <dt>Outcome Amount</dt>
        <dd>@Model.OutcomeAmount</dd>

        <dt>Paid In Currency</dt>
        <dd>@Model.PaidInCurrency</dd>

        <dt>Payment Status</dt>
        <dd>@EnumHelper.GetDescription(Model.PaymentStatus)</dd>

        <dt>Create Date</dt>
        <dd>@Model.CreateDate.ToString(DirectoryManager.Common.Constants.StringConstants.DateTimeFormat)</dd>

        <dt>Update Date</dt>
        <dd>@Model.UpdateDate?.ToString(DirectoryManager.Common.Constants.StringConstants.DateTimeFormat)</dd>

        <dt>Campaign Start Date</dt>
        <dd>@Model.CampaignStartDate.ToString(DirectoryManager.Common.Constants.StringConstants.DateTimeFormat)</dd>

        <dt>Campaign End Date</dt>
        <dd>@Model.CampaignEndDate.ToString(DirectoryManager.Common.Constants.StringConstants.DateTimeFormat)</dd>

        <dt>Payment Processor</dt>
        <dd>@Model.PaymentProcessor</dd>

        <dt>Invoice Response</dt>
        <dd><i>@Model.InvoiceResponse</i></dd>

        <dt>Processor Invoice Id</dt>
        <dd>@Model.ProcessorInvoiceId</dd>

        @if (!string.IsNullOrWhiteSpace(Model.Email))
        {
            <dt>Email</dt>
            <dd>@Model.Email</dd>

            <dt>Is Reminder Sent</dt>
            <dd>@Model.IsReminderSent</dd>
        }

        <dt>Ip Address</dt>
        <dd>@Model.IpAddress</dd>
    </dl>
    <hr />
    <h3>Listing</h3>
<ul class="blank_list_item">
        @await Html.PartialAsync("_DirectoryEntryPartial", (DirectoryEntryViewModel)ViewBag.SelectedDirectoryEntry)
</ul>
    <hr />
</div>

<div>
    <a href="@Url.Action("Index")">Back to List</a>
</div>