@using DirectoryManager.Web.Constants;
@model IEnumerable<DirectoryManager.Data.Models.SponsoredListings.SponsoredListingInvoice>

@{
    ViewData["Title"] = "Invoices";
    int currentPage = ViewBag.CurrentPage ?? 1;
    int pageSize = ViewBag.PageSize ?? 10;
    int totalItems = ViewBag.TotalItems ?? 0;
    int totalPages = (int)Math.Ceiling((double)totalItems / pageSize);
}

<h2>@ViewData["Title"]</h2>

@await Html.PartialAsync("_AdminMenu")

<hr />

<div>
    <a href="@Url.Action("Report")">Report</a>
</div>

<hr />

<table class="table">
    <thead>
        <tr>
            <th>Create Date</th>
            <th>Amount Asked</th>
            <th>Outcome Amount</th>
            <th>Paid In Currency</th>
            <th>Payment Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var invoice in Model)
        {
            <tr>
                <td>@invoice.CreateDate.ToString(StringConstants.DateTimeFormat)</td>
                <td>@invoice.Amount.ToString("C") (@invoice.Currency.ToString())</td>
                <td>@invoice.OutcomeAmount</td>
                <td>@invoice.PaidInCurrency</td>
                <td>@invoice.PaymentStatus</td>
                <td>
                    <a href="@Url.Action("Details", new { id = invoice.SponsoredListingInvoiceId })">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Pagination Controls -->
<div>
    <table>
        <tr>
            <td>
                <!-- Previous Page Link -->
                <a href="@Url.Action("Index", new { page = Math.Max(1, currentPage - 1) })" aria-label="Previous" @(currentPage == 1 ? "disabled" : "")>
                    &laquo;
                </a>
            </td>
            @for (int i = 1; i <= totalPages; i++)
            {
                <td>
                    <!-- Page Number Links or Text -->
                    @if (i == currentPage)
                    {
                        <span style="font-weight:bold;">@i</span>
                    }
                    else
                    {
                        <a href="@Url.Action("Index", new { page = i })">@i</a>
                    }
                </td>
            }
            <td>
                <!-- Next Page Link -->
                <a href="@Url.Action("Index", new { page = Math.Min(totalPages, currentPage + 1) })" aria-label="Next" @(currentPage == totalPages ? "disabled" : "")>
                    &raquo;
                </a>
            </td>
        </tr>
    </table>
</div>