@model DirectoryManager.Web.Models.InvoiceQueryViewModel
@using DirectoryManager.Web.Constants;
@using System.Globalization

@{
    ViewData[StringConstants.TitleHeader] = "Sponsored Listing Invoice Report";
    Layout = "_CenteredLayout";
}

@section PageContent {
    <h1>@ViewData[StringConstants.TitleHeader]</h1>

    @await Html.PartialAsync("_AdminMenu")
    @await Html.PartialAsync("_ReportMenu")

    <hr />

    <form method="get" asp-controller="SponsoredListingInvoice" asp-action="Report">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="SponsorshipType">Sponsorship Type</label>
                <select id="SponsorshipType"
                        name="sponsorshipType"
                        class="form-control"
                        asp-items="Model.SponsorshipTypeOptions">
                </select>
            </div>

            <div class="form-group col-md-3">
                <label for="StartDate">Start Date</label>
                <input id="StartDate" name="startDate" type="date" class="form-control"
                       value="@Model.StartDate.ToString(DirectoryManager.Common.Constants.StringConstants.DateFormat)" required />
            </div>

            <div class="form-group col-md-3">
                <label for="EndDate">End Date</label>
                <input id="EndDate" name="endDate" type="date" class="form-control"
                       value="@Model.EndDate.ToString(DirectoryManager.Common.Constants.StringConstants.DateFormat)" required />
            </div>

            <div class="form-group col-md-3">
                <label for="DisplayCurrency">Display Currency</label>
                <select id="DisplayCurrency"
                        name="displayCurrency"
                        class="form-control"
                        asp-items="Model.DisplayCurrencyOptions">
                </select>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Get Totals</button>
    </form>

    <br />

    <p>
        Time Range:
        @Model.StartDate.ToString(DirectoryManager.Common.Constants.StringConstants.DateTimeFormat)
        -
        @Model.EndDate.ToString(DirectoryManager.Common.Constants.StringConstants.DateTimeFormat)
    </p>

    <p>
        <strong>Total in @Model.DisplayCurrency:</strong>
        @if (Model.DisplayCurrency == DirectoryManager.Data.Enums.Currency.USD)
        {
            @Model.TotalInDisplayCurrency.ToString("C", CultureInfo.CreateSpecificCulture("en-US"))
        }
        else
        {
            @Model.TotalInDisplayCurrency.ToString("0.######") @Model.DisplayCurrency
        }
    </p>

    <a 
       href="@Url.Action("DownloadAccountantCsv", "SponsoredListingInvoice", new {
            startDate = Model.StartDate.ToString(DirectoryManager.Common.Constants.StringConstants.DateTimeFormat),
            endDate   = Model.EndDate.ToString(DirectoryManager.Common.Constants.StringConstants.DateTimeFormat),
            sponsorshipType = Model.SponsorshipType?.ToString(),
            costEqualsSalesPrice = true
       })" target="_blank">Download Accounting CSV</a>

    <img style="width:100%"
         src="@Url.Action("MonthlyIncomeBarChart", "SponsoredListingInvoice", new { startDate = Model.StartDate, endDate = Model.EndDate, sponsorshipType = Model.SponsorshipType, displayCurrency = Model.DisplayCurrency })"
         alt="Monthly Income Chart (@Model.DisplayCurrency)" />

    <br />

    <img style="width:100%"
         src="@Url.Action("MonthlyAvgDailyRevenueChart", "SponsoredListingInvoice", new { startDate = Model.StartDate, endDate = Model.EndDate, sponsorshipType = Model.SponsorshipType, displayCurrency = Model.DisplayCurrency })"
         alt="Average Daily Revenue per Month (@Model.DisplayCurrency)" />

    <br />

    <img style="width:100%"
         src="@Url.Action("SubcategoryRevenuePieChart", "SponsoredListingInvoice", new { startDate = Model.StartDate, endDate = Model.EndDate, sponsorshipType = Model.SponsorshipType, displayCurrency = Model.DisplayCurrency })"
         alt="Subcategory Revenue Pie Chart (@Model.DisplayCurrency)" />
}
