@model DirectoryManager.Web.Models.InvoiceQueryViewModel
@using DirectoryManager.Web.Constants;
@using System.Globalization

@{
    ViewData[StringConstants.TitleHeader] = "Sponsored Listing Invoice Report";
}

<h1>@ViewData[StringConstants.TitleHeader]</h1>

@await Html.PartialAsync("_AdminMenu")

<div>
    <a href="@Url.Action("Index")">Back to list</a>
</div>
<hr />

<form method="get" action="@Url.Action("Report")">
    <div class="form-group">
        <label for="StartDate">Start Date</label>
        <input type="date" class="form-control" id="StartDate" name="startDate" value="@Model.StartDate.ToString(DirectoryManager.Common.Constants.StringConstants.DateFormat)" required>
    </div>
    <div class="form-group">
        <label for="EndDate">End Date</label>
        <input type="date" class="form-control" id="EndDate" name="endDate" value="@Model.EndDate.ToString(DirectoryManager.Common.Constants.StringConstants.DateFormat)" required>
    </div>
    <button type="submit" class="btn btn-primary">Get Totals</button>
</form>

<br />

<p>
    Range: @Model.StartDate.ToString(DirectoryManager.Common.Constants.StringConstants.DateTimeFormat) - @Model.EndDate.ToString(DirectoryManager.Common.Constants.StringConstants.DateTimeFormat)
</p>

<p>Total Paid Amount: @Model.TotalPaidAmount @Model.PaidInCurrency</p>
<p>Total Amount Requested: @Model.TotalAmount.ToString("C", CultureInfo.CreateSpecificCulture(StringConstants.EnglishUS)) @Model.Currency</p>

<img style="width:100%"
     src="@Url.Action("monthlyincomebarchart", "sponsoredlistinginvoice", new { startDate = Model.StartDate, endDate = Model.EndDate })"
     alt="chart" />