@model DirectoryManager.Web.Models.InvoiceQueryViewModel
@using DirectoryManager.Web.Constants;
@using System.Globalization

@{
    ViewData[StringConstants.TitleHeader] = "Sponsored Listing Invoice Report";
}

<h1>@ViewData[StringConstants.TitleHeader]</h1>

@await Html.PartialAsync("_AdminMenu")

@await Html.PartialAsync("_ReportMenu")

<hr />

<form method="get" action="@Url.Action("Report")">
  <div class="form-row">
    <!-- Sponsorship Type dropdown -->
    <div class="form-group col-md-4">
      <label asp-for="SponsorshipType">Sponsorship Type</label>
      <select asp-for="SponsorshipType"
              asp-items="Model.SponsorshipTypeOptions"
              class="form-control">
      </select>
    </div>

    <!-- Start Date -->
    <div class="form-group col-md-4">
      <label for="StartDate">Start Date</label>
      <input type="date"
             class="form-control"
             asp-for="StartDate"
             required />
    </div>

    <!-- End Date -->
    <div class="form-group col-md-4">
      <label for="EndDate">End Date</label>
      <input type="date"
             class="form-control"
             asp-for="EndDate"
             required />
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Get Totals</button>
</form>

<br />

<p>
    Time Range: @Model.StartDate.ToString(DirectoryManager.Common.Constants.StringConstants.DateTimeFormat) - @Model.EndDate.ToString(DirectoryManager.Common.Constants.StringConstants.DateTimeFormat)
</p>
<br />
<p>
  Total Amount <strong>Paid</strong>: 
  @Model.TotalPaidAmount @Model.PaidInCurrency
</p>
<p>
  Total Amount Requested In Time Range: 
  @Model.TotalAmount.ToString("C", CultureInfo.CreateSpecificCulture(StringConstants.EnglishUS)) 
  @Model.Currency
</p>
 
<img style="width:100%"
     src="@Url.Action("monthlyincomebarchart", "sponsoredlistinginvoice", new { startDate = Model.StartDate, endDate = Model.EndDate, sponsorshipType = Model.SponsorshipType })"
     alt="chart" />

<img style="width:100%"
     src="@Url.Action(
             "subcategoryrevenuepiechart",
             "sponsoredlistinginvoice",
                  new { startDate = Model.StartDate, endDate = Model.EndDate, sponsorshipType = Model.SponsorshipType }
          )"
     alt="Subcategory Revenue Pie Chart" />
