@model DirectoryManager.Web.Models.Reports.BreakdownReportViewModel
@using DirectoryManager.Web.Constants

@{
    ViewData[StringConstants.TitleHeader] = "Sponsorship Breakdown Report";
}

<h1>@ViewData[StringConstants.TitleHeader]</h1>

@await Html.PartialAsync("_AdminMenu")

<div>
    <a href="@Url.Action("Index")">Back to list</a> |
    <a href="@Url.Action("subcategorybreakdown")">Subcategory Breakdown</a> |
    <a href="@Url.Action("advertiserbreakdown")">Advertiser Breakdown</a>
</div>

<hr />


<form method="get" action="@Url.Action("Breakdown")">
    <div class="form-row">
        <!-- Start Date -->
        <div class="form-group col-md-6">
            <label asp-for="StartDate">Start Date</label>
            <input asp-for="StartDate"
                   class="form-control"
                   type="date"
                   required />
        </div>

        <!-- End Date -->
        <div class="form-group col-md-6">
            <label asp-for="EndDate">End Date</label>
            <input asp-for="EndDate"
                   class="form-control"
                   type="date"
                   required />
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Get Breakdown</button>
</form>

<hr />

<p>
    Time Range: @Model.StartDate.ToString(DirectoryManager.Common.Constants.StringConstants.DateTimeFormat) - @Model.EndDate.ToString(DirectoryManager.Common.Constants.StringConstants.DateTimeFormat)
</p>
 
<h2>Main Sponsor by Subcategory</h2>
<table class="table">
    <thead><tr><th>Category</th><th>Count</th><th>Percentage</th></tr></thead>
    <tbody>
        @foreach (var row in Model.MainSponsorBreakdown)
        {
            <tr>
                <td>@row.Name</td>
                <td>@row.Count</td>
                <td>@row.Percentage %</td>
            </tr>
        }
    </tbody>
</table>

<h2>Category Sponsor by Subcategory</h2>
<table class="table">
    <thead><tr><th>Subcategory</th><th>Count</th><th>Percentage</th></tr></thead>
    <tbody>
        @foreach (var row in Model.CategoryBreakdown)
        {
            <tr>
                <td>@row.Name</td>
                <td>@row.Count</td>
                <td>@row.Percentage %</td>
            </tr>
        }
    </tbody>
</table>


<h2>Subcategory Sponsor by Subcategory</h2>
<table class="table">
    <thead><tr><th>Subcategory</th><th>Count</th><th>Percentage</th></tr></thead>
    <tbody>
        @foreach (var row in Model.SubcategoryBreakdown)
        {
            <tr>
                <td>@row.Name</td>
                <td>@row.Count</td>
                <td>@row.Percentage %</td>
            </tr>
        }
    </tbody>
</table>