@using DirectoryManager.Web.Enums;
@using DirectoryManager.Web.Constants;
@model DirectoryManager.Web.Models.DirectoryEntryViewModel

@if (Model.IsSponsored && Model.DisplayAsSponsoredItem)
{
    <text><li class="sponsored"></text>
}
else
{
    <text><li></text>
}
    <p>@if (Model.DateOption == DateDisplayOption.DisplayCreateDate)
        {
            <i>@Model.DirectoryEntry.CreateDate.ToString(StringConstants.DateFormat)</i>
        }
        else if (Model.DateOption == DateDisplayOption.DisplayUpdateDate)
        {
            if (Model.DirectoryEntry.UpdateDate == null)
            {
                <i>@Model.DirectoryEntry.CreateDate.ToString(StringConstants.DateFormat)</i>
            }
            else
            {
                <i>@Model.DirectoryEntry.UpdateDate?.ToString(StringConstants.DateFormat)</i>
            }
        }
        @if (Model.DirectoryEntry.DirectoryStatus == DirectoryManager.Data.Enums.DirectoryStatus.Verified)
        {
            if ((Model.IsSponsored || Model.IsSubCategorySponsor) && !string.IsNullOrWhiteSpace(Model.DirectoryEntry.LinkA))
            {
                <text>&#9989;</text> <a target="_blank" href="@Model.DirectoryEntry.Link">@Model.DirectoryEntry.Name</a>
            }
            else if (!string.IsNullOrWhiteSpace(Model.DirectoryEntry.LinkA))
            {
                <text>&#9989;</text> <a target="_blank" href="@Model.DirectoryEntry.LinkA">@Model.DirectoryEntry.Name</a>
            }
            else
            {
                <text>&#9989;</text> <a target="_blank" href="@Model.DirectoryEntry.Link">@Model.DirectoryEntry.Name</a>
            }
        }
        else if (Model.DirectoryEntry.DirectoryStatus == DirectoryManager.Data.Enums.DirectoryStatus.Admitted)
        {
            if ((Model.IsSponsored || Model.IsSubCategorySponsor) && !string.IsNullOrWhiteSpace(Model.DirectoryEntry.LinkA))
            {
               <a target="_blank" href="@Model.DirectoryEntry.Link">@Model.DirectoryEntry.Name</a>
            }
            else if (!string.IsNullOrWhiteSpace(Model.DirectoryEntry.LinkA))
            {
                <a target="_blank" href="@Model.DirectoryEntry.LinkA">@Model.DirectoryEntry.Name</a>
            }
            else
            {
                <a target="_blank" href="@Model.DirectoryEntry.Link">@Model.DirectoryEntry.Name</a>
            }
        }
        else if (Model.DirectoryEntry.DirectoryStatus == DirectoryManager.Data.Enums.DirectoryStatus.Scam)
        {
            <text>&#10060;</text> <del><a target="_blank" rel="nofollow" href="@Model.DirectoryEntry.Link">@Model.DirectoryEntry.Name</a></del>
        }
        @if (!string.IsNullOrWhiteSpace(Model.DirectoryEntry.Link2))
        {
            if (Model.DirectoryEntry.DirectoryStatus == DirectoryManager.Data.Enums.DirectoryStatus.Scam)
            {
                <text> | </text><del><a rel="nofollow" target="_blank" href="@Model.DirectoryEntry.Link2">@Model.Link2Name</a></del>
            }
            else
            {
                if ((Model.IsSponsored || Model.IsSubCategorySponsor) && !string.IsNullOrWhiteSpace(Model.DirectoryEntry.Link2A))
                {
                    <text> | </text> <a target="_blank" href="@Model.DirectoryEntry.Link2">@Model.Link2Name</a>
                }
                else if (!string.IsNullOrWhiteSpace(Model.DirectoryEntry.Link2A))
                {
                    <text> | </text> <a target="_blank" href="@Model.DirectoryEntry.Link2A">@Model.Link2Name</a>
                }
                else
                {
                    <text> | </text> <a target="_blank" href="@Model.DirectoryEntry.Link2">@Model.Link2Name</a>
                }
            }
        }
        @if (!string.IsNullOrWhiteSpace(Model.DirectoryEntry.Link3))
        {
            if (Model.DirectoryEntry.DirectoryStatus == DirectoryManager.Data.Enums.DirectoryStatus.Scam)
            {
                <text> | </text><del><a rel="nofollow" target="_blank" href="@Model.DirectoryEntry.Link3">@Model.Link3Name</a></del>
            }
            else
            {
                if ((Model.IsSponsored || Model.IsSubCategorySponsor) && !string.IsNullOrWhiteSpace(Model.DirectoryEntry.Link3A))
                {
                    <text> | </text> <a target="_blank" href="@Model.DirectoryEntry.Link3">@Model.Link3Name</a>
                }
                else if (!string.IsNullOrWhiteSpace(Model.DirectoryEntry.Link3A))
                {
                    <text> | </text> <a target="_blank" href="@Model.DirectoryEntry.Link3A">@Model.Link3Name</a>
                }
                else
                {
                    <text> | </text> <a target="_blank" href="@Model.DirectoryEntry.Link3">@Model.Link3Name</a>
                }
            }
        }
        @if (!string.IsNullOrWhiteSpace(Model.DirectoryEntry.Description))
        {
            <text> - </text>@Html.Raw(Model.DirectoryEntry.Description)
        }
        @if (!string.IsNullOrWhiteSpace(Model.DirectoryEntry.Contact))
        {
            <text> - </text><text>Contact: </text><span class="multi-line-text">@Model.DirectoryEntry.Contact</span>
        }
        @if (!string.IsNullOrWhiteSpace(Model.DirectoryEntry.Location))
        {
            <text> - </text><text>Location: </text> @Model.DirectoryEntry.Location
        }
        @if (!string.IsNullOrWhiteSpace(Model.DirectoryEntry.Note))
        {
            <i>(Note: @Html.Raw(Model.DirectoryEntry.Note))</i>
        }
    </p>
</li>