@using DirectoryManager.Web.Enums;
@using DirectoryManager.Web.Constants;
@model DirectoryManager.Web.Models.DirectoryEntryViewModel

@if (Model.IsSponsored && Model.DisplayAsSponsoredItem)
{
    <text><li class="sponsored"></text>
}
else
{
    <text><li></text>
}
<p>
    @if (Model.DateOption == DateDisplayOption.DisplayCreateDate)
    {
        <i>@Model.CreateDate.ToString(StringConstants.DateFormat)</i>
    }
    else if (Model.DateOption == DateDisplayOption.DisplayUpdateDate)
    {
        if (Model.UpdateDate == null)
        {
            <i>@Model.CreateDate.ToString(StringConstants.DateFormat)</i>
        }
        else
        {
            <i>@Model.UpdateDate?.ToString(StringConstants.DateFormat)</i>
        }
    }

    @if (Model.DirectoryStatus == DirectoryManager.Data.Enums.DirectoryStatus.Verified)
    {
        <text>&#9989;</text>
        @if ((Model.IsSponsored || Model.IsSubCategorySponsor) && !string.IsNullOrWhiteSpace(Model.LinkA))
        {
            <a href="@(Model.LinkType == LinkType.ListingPage ? Model.ItemPath : Model.Link)" @(Model.LinkType == LinkType.Direct ? "target=\"_blank\"" : "")>@Model.Name</a>
        }
        else if (!string.IsNullOrWhiteSpace(Model.LinkA))
        {
            <a href="@(Model.LinkType == LinkType.ListingPage ? Model.ItemPath : Model.LinkA)" @(Model.LinkType == LinkType.Direct ? "target=\"_blank\"" : "")>@Model.Name</a>
        }
        else
        {
            <a href="@(Model.LinkType == LinkType.ListingPage ? Model.ItemPath : Model.Link)" @(Model.LinkType == LinkType.Direct ? "target=\"_blank\"" : "")>@Model.Name</a>
        }
    }
    else if (Model.DirectoryStatus == DirectoryManager.Data.Enums.DirectoryStatus.Admitted)
    {
        @if ((Model.IsSponsored || Model.IsSubCategorySponsor) && !string.IsNullOrWhiteSpace(Model.LinkA))
        {
            <a href="@(Model.LinkType == LinkType.ListingPage ? Model.ItemPath : Model.Link)" @(Model.LinkType == LinkType.Direct ? "target=\"_blank\"" : "")>@Model.Name</a>
        }
        else if (!string.IsNullOrWhiteSpace(Model.LinkA))
        {
            <a href="@(Model.LinkType == LinkType.ListingPage ? Model.ItemPath : Model.LinkA)" @(Model.LinkType == LinkType.Direct ? "target=\"_blank\"" : "")>@Model.Name</a>
        }
        else
        {
            <a href="@(Model.LinkType == LinkType.ListingPage ? Model.ItemPath : Model.Link)" @(Model.LinkType == LinkType.Direct ? "target=\"_blank\"" : "")>@Model.Name</a>
        }
    }
    else if (Model.DirectoryStatus == DirectoryManager.Data.Enums.DirectoryStatus.Scam)
    {
        <text>&#10060;</text> <del><a rel="nofollow" href="@(Model.LinkType == LinkType.ListingPage ? Model.ItemPath : Model.Link)" @(Model.LinkType == LinkType.Direct ? "target=\"_blank\"" : "")>@Model.Name</a></del>
    }

    @if (!string.IsNullOrWhiteSpace(Model.Link2))
    {
        if (Model.DirectoryStatus == DirectoryManager.Data.Enums.DirectoryStatus.Scam)
        {
            <text> | </text>

            <del><a rel="nofollow" href="@(Model.LinkType == LinkType.ListingPage ? Model.ItemPath : Model.Link2)" @(Model.LinkType == LinkType.Direct ? "target=\"_blank\"" : "")>@Model.Link2Name</a></del>
        }
        else
        {
            @if ((Model.IsSponsored || Model.IsSubCategorySponsor) && !string.IsNullOrWhiteSpace(Model.Link2A))
            {
                <text> | </text> <a href="@(Model.LinkType == LinkType.ListingPage ? Model.ItemPath : Model.Link2)" @(Model.LinkType == LinkType.Direct ? "target=\"_blank\"" : "")>@Model.Link2Name</a>
            }
            else if (!string.IsNullOrWhiteSpace(Model.Link2A))
            {
                <text> | </text> <a href="@(Model.LinkType == LinkType.ListingPage ? Model.ItemPath : Model.Link2A)" @(Model.LinkType == LinkType.Direct ? "target=\"_blank\"" : "")>@Model.Link2Name</a>
            }
            else
            {
                <text> | </text> <a href="@(Model.LinkType == LinkType.ListingPage ? Model.ItemPath : Model.Link2)" @(Model.LinkType == LinkType.Direct ? "target=\"_blank\"" : "")>@Model.Link2Name</a>
            }
        }
    }

    @if (!string.IsNullOrWhiteSpace(Model.Link3))
    {
        if (Model.DirectoryStatus == DirectoryManager.Data.Enums.DirectoryStatus.Scam)
        {
            <text> | </text>

            <del><a rel="nofollow" href="@(Model.LinkType == LinkType.ListingPage ? Model.ItemPath : Model.Link3)" @(Model.LinkType == LinkType.Direct ? "target=\"_blank\"" : "")>@Model.Link3Name</a></del>
        }
        else
        {
            @if ((Model.IsSponsored || Model.IsSubCategorySponsor) && !string.IsNullOrWhiteSpace(Model.Link3A))
            {
                <text> | </text> <a href="@(Model.LinkType == LinkType.ListingPage ? Model.ItemPath : Model.Link3)" @(Model.LinkType == LinkType.Direct ? "target=\"_blank\"" : "")>@Model.Link3Name</a>
            }
            else if (!string.IsNullOrWhiteSpace(Model.Link3A))
            {
                <text> | </text> <a href="@(Model.LinkType == LinkType.ListingPage ? Model.ItemPath : Model.Link3A)" @(Model.LinkType == LinkType.Direct ? "target=\"_blank\"" : "")>@Model.Link3Name</a>
            }
            else
            {
                <text> | </text> <a href="@(Model.LinkType == LinkType.ListingPage ? Model.ItemPath : Model.Link3)" @(Model.LinkType == LinkType.Direct ? "target=\"_blank\"" : "")>@Model.Link3Name</a>
            }
        }
    }

    @if (!string.IsNullOrWhiteSpace(Model.Description))
    {
        <text> - </text>

        @Html.Raw(Model.Description)
    }

    @if (!string.IsNullOrWhiteSpace(Model.Note))
    {
        <i>(Note: @Html.Raw(Model.Note))</i>
    }
</p>
</li>
