@inject DirectoryManager.Web.Services.Interfaces.ICacheService _cacheHelper
@using DirectoryManager.Data.Enums
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    @Html.Raw(_cacheHelper.GetSnippet(SiteConfigSetting.HeaderHtml))

    @Html.Raw(_cacheHelper.GetSnippet(SiteConfigSetting.MetaTags))

    @Html.Raw(_cacheHelper.GetSnippet(SiteConfigSetting.CssHeader))
    </head>
<body>
    <div id="main-content">
        @RenderBody() 
    </div>
 
    <footer>
        @Html.Raw(_cacheHelper.GetSnippet(SiteConfigSetting.FooterHtml))
    </footer>
</body>
</html>