@inject DirectoryManager.Web.Services.Interfaces.ICacheService cacheHelper
@using DirectoryManager.Data.Enums
@using DirectoryManager.Web.Constants
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewData[StringConstants.TitleHeader]</title>
    @if (ViewData[StringConstants.MetaDescription] != null &&
    !string.IsNullOrWhiteSpace(Convert.ToString(ViewData[StringConstants.MetaDescription])))
    {
        <meta name="description" content="@ViewData[StringConstants.MetaDescription]" />
        <meta name="twitter:description" content="@ViewData[StringConstants.MetaDescription]" />
    }
    @if (ViewData[StringConstants.MetaContent] != null &&
    !string.IsNullOrWhiteSpace(Convert.ToString(ViewData[StringConstants.MetaContent])))
    {
        @Html.Raw(ViewData[StringConstants.MetaContent])
    }
    @{
        var torUrl = cacheHelper.GetSnippet(SiteConfigSetting.FullRootTorUrl);
        if (!string.IsNullOrWhiteSpace(torUrl))
        {
            torUrl = DirectoryManager.Web.Helpers.UrlHelper.NormalizeUrl(torUrl);
            var currentPath = Context.Request.Path + Context.Request.QueryString;
    <meta http-equiv="onion-location" content="@($"{torUrl}{currentPath}")" />
        }
    }
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    @if (ViewData[StringConstants.CanonicalUrl] != null &&
    !string.IsNullOrWhiteSpace(Convert.ToString(ViewData[StringConstants.CanonicalUrl])))
    {
    <link rel="canonical" href="@ViewData[StringConstants.CanonicalUrl]" />
    }
    @if (ViewData[StringConstants.IsIndexable] != null && bool.TryParse(ViewData[StringConstants.IsIndexable]?.ToString(), out bool isIndexable) && !isIndexable)
    {
        <meta name="robots" content="noindex" />
    }
    @Html.Raw(cacheHelper.GetSnippet(SiteConfigSetting.HeaderHtml))
    @Html.Raw(cacheHelper.GetSnippet(SiteConfigSetting.CssHeader))
    </head>
<body>
    @Html.Raw(cacheHelper.GetSnippet(SiteConfigSetting.TopBannerHtml))
    <div id="main-content">
        @RenderBody() 
    </div>
 
    <footer>
        @Html.Raw(cacheHelper.GetSnippet(SiteConfigSetting.FooterHtml))
    </footer>
</body>
</html>