@inject DirectoryManager.Web.Services.Interfaces.ICacheService _cacheHelper
@using DirectoryManager.Data.Enums
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    @Html.Raw(_cacheHelper.GetSnippet(SiteConfigSetting.MetaTags))

    @Html.Raw(_cacheHelper.GetSnippet(SiteConfigSetting.CssHeader))
 
    </head>
<body>
    <div id="main-content">
        @RenderBody() 
    </div>
 
    <footer>
        <a href="~/">Monerica</a> |  <a target="_blank" href="https://twitter.com/MonericaProject">Twitter</a> | <a target="_blank" href="https://github.com/monerica-project/">GitHub</a> | <a target="_blank" href="~/api/all">API</a> | <a target="_blank" href="https://monerica.com/content/monerica-logo.ai">logo</a> | @DateTime.UtcNow.Year
    </footer>
 
</body>
</html>