<div>
    <a href="@Url.Action("Index")">Back to list</a> |
    <a href="@Url.Action("report")">Revenue Report</a> |
    <a href="@Url.Action("subcategorybreakdown")">Subcategory Breakdown</a> |
    <a href="@Url.Action("advertiserbreakdown")">Advertiser Breakdown</a> |
    <a href="@Url.Action("churn")">Churn Rate</a>
</div>