@model IEnumerable<DirectoryManager.Data.Models.SponsoredListings.SponsoredListingOffer>
@using DirectoryManager.DisplayFormatting.Helpers
@using DirectoryManager.Web.Constants
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor
@inject NowPayments.API.Interfaces.INowPaymentsService nowPaymentsService
@using DirectoryManager.Web.Helpers
@using Microsoft.Extensions.Caching.Memory
@inject IMemoryCache memoryCache

@{
    var first = Model.FirstOrDefault();
}

@{
    var conversionResult = await CurrencyConversionHelper.GetConversionContextAsync(httpContextAccessor, memoryCache, nowPaymentsService);
    bool showConverted = conversionResult.showConverted;
    decimal conversionRate = conversionResult.conversionRate;
}


@if (first != null)
{
    <h3>@DirectoryManager.Utilities.Helpers.EnumHelper.GetDescription(first.SponsorshipType)</h3>
<div class="table-wrapper">
    <table class="table">
        <thead>
            <tr>
                <th>Subcategory</th>
                <th>Days</th>
                <th>Price USD</th>
                <th>Price XMR</th>
                <th>Price/ Day</th>
                <th>Is Enabled</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (string.IsNullOrEmpty(item.Subcategory?.Name))
                        {
                            @StringConstants.Default
                        }
                        else
                        {
                            @FormattingHelper.SubcategoryFormatting(item.Subcategory.Category?.Name, @item.Subcategory?.Name)
                        }
                    </td>
                    <td>@item.Days</td>
                    <td title="@item.Description">
                        @item.Price.ToString(DirectoryManager.Common.Constants.StringConstants.CurrentFormat)
                    </td>
                     <td title="@item.Description">
                            @DirectoryManager.Utilities.Helpers.CurrencyFormatter.Format(item.Price, conversionRate, conversionResult.selectedCurrency, false)
                         </td>
                    <td title="@item.Description">
                        @{
                            if (item.Days > 0)
                            {
                                var pricePerDay = item.Price / item.Days;
                                <text>@pricePerDay.ToString(DirectoryManager.Common.Constants.StringConstants.CurrentFormat2)</text>
                            }
                            else
                            {
                                <text>N/A</text>
                            }
                        }
                    </td>
                    <td>@item.IsEnabled</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.SponsoredListingOfferId">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<hr />
}
