@model SponsorshipOffersTableViewModel
@using DirectoryManager.Data.Enums
@using DirectoryManager.Common.Constants
@using DirectoryManager.DisplayFormatting.Helpers
@using DirectoryManager.Utilities.Helpers
@using DirectoryManager.Web.Models.Sponsorship

<h3 class="text-center">
    @EnumHelper.GetDescription(Model.SponsorshipType)
</h3>

<style>
    .text-center {
        text-align: center;
    }
</style>
<div class="table-wrapper">
    <table class="table">
        <thead>
            <tr>
                <th>@FormattingHelper.SubcategoryFormatting("Category", "Subcategory")</th>
                <th>Days</th>
                <th>Price @Currency.USD</th>
                <th>Price @Model.SelectedCurrency</th>
                <th>USD/Day</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var offer in Model.Offers)
            {
                <tr>
                    <td class="text-center">@offer.CategorySubcategory</td>
                    <td class="text-center">@offer.Days</td>
                    <td class="text-center">
                        @offer.Price.ToString(StringConstants.CurrentFormat)
                    </td>
                    <td class="text-center">
                        @CurrencyFormatter.Format(
                        offer.Price,
                                        Model.ConversionRate,
                                        Model.SelectedCurrency,
                                        false)
                </td>
                <td class="text-center">
                    @(offer.Days > 0
                                        ? (offer.Price / offer.Days)
                                        .ToString(StringConstants.CurrentFormat)
                                        : "-")
                                          </td>
                                          <td class="text-center">
                                              <a href="@offer.ActionLink">@(offer.IsAvailable
                                                ? "Buy"
                                                : "Join Waitlist")
                    </a>
                </td>
            </tr>
                        }
        </tbody>
    </table>
</div>
<hr />
