@model SponsorshipOffersTableViewModel
@using DirectoryManager.Data.Enums
@using DirectoryManager.Common.Constants
@using DirectoryManager.Utilities.Helpers
@using DirectoryManager.Web.Models

<h3 style="text-align:center;">@EnumHelper.GetDescription(Model.SponsorshipType)</h3>
<br />
<div class="table-wrapper">
    <table class="table">
        <thead>
            <tr>
                <th>@DirectoryManager.DisplayFormatting.Helpers.FormattingHelper.SubcategoryFormatting("Category", "Subcategory")</th>
                <th>Days</th>
                <th>Price @Currency.USD</th>
                <th>Price @Currency.XMR</th>
                <th>USD/Day</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var offer in Model.Offers)
            {
                <tr>
                    <td style="text-align:center;">@offer.CategorySubcategory</td>
                    <td style="text-align:center;">@offer.Days</td>
                    <td style="text-align:center;">@offer.Price.ToString(StringConstants.CurrentFormat)</td>
                    <td style="text-align:center;">
                        @DirectoryManager.Utilities.Helpers.CurrencyFormatter.Format(offer.Price, Model.ConversionRate, Model.SelectedCurrency, false)
                    </td>
                    <td style="text-align:center;">
                        @(offer.Days > 0 ? (offer.Price / offer.Days).ToString(StringConstants.CurrentFormat) : "-")
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<hr />
