@using DirectoryManager.Data.Enums
@using DirectoryManager.Web.Constants
@model DirectoryManager.Web.Models.CategoryViewModel
@inject DirectoryManager.Web.Services.Interfaces.ICacheService cacheHelper

@{
    ViewData[StringConstants.TitleHeader] = string.Format("{0}: {1}", cacheHelper.GetSnippet(SiteConfigSetting.SiteName), Model.PageTitle);
    ViewData[StringConstants.MetaDescription] = Model.MetaDescription;
}

<h1>@Model.PageHeader</h1>

<hr />

<a href="~/sitemap">&lt; Sitemap</a>


@if (!string.IsNullOrWhiteSpace(Model.Description))
{
    <p><span>@Model.Description</span></p>
}

@if (!string.IsNullOrWhiteSpace(Model.Note))
{
    <p><i>Note: @Model.Note</i></p>
}
 
<ul>
    @foreach (var item in Model.SubCategoryItems)
    {
    <li>
        <a href="@item.SubCategoryRelativePath">@item.Name</a>
    </li>
}
</ul>

<hr />

@await Html.PartialAsync("_SponsoredListingPartial")